/* Breadcrumbs */
.categorybreadcrumbs{text-align:left;margin-bottom:20px;}
.categorybreadcrumbs ul{list-style:none;display:inline-table;margin:0;}
.categorybreadcrumbs ul li{display:inline;}
.categorybreadcrumbs ul li a{background:none repeat scroll 0 0 #C2C2C2;color:#FFFFFF;display:inline-block;font-size:12px;font-weight:bold;height:28px;line-height:28px;padding:0 14px 0 28px;position:relative;text-align:center;text-decoration:none;margin-right:2px;}
.categorybreadcrumbs ul li a:after{border-bottom:14px solid transparent;border-left:14px solid #C2C2C2;border-top:14px solid transparent;content:"";position:absolute;right:-14px;top:0;z-index:1;}
.categorybreadcrumbs ul li a:before{border-bottom:14px solid transparent;border-left:14px solid #EFEFEF;border-top:14px solid transparent;content:"";left:0;position:absolute;top:0;}
.categorybreadcrumbs ul li:first-child a{padding:0 14px 0 20px;}
.categorybreadcrumbs ul li:first-child a:before{display:none;}
.categorybreadcrumbs ul li:last-child a{}
.categorybreadcrumbs ul li:last-child a:after{}
.categorybreadcrumbs ul li a:hover{background:#505050;color:#ffffff;}
.categorybreadcrumbs ul li a:hover:after{border-left-color:#505050;color:#ffffff;}

/* Classic buttons */
a.classicbutton:link, a.classicbutton:visited {text-decoration:none;background:#505050;color:white;display:inline-block;font-size:14px;line-height:14px;padding:4px 8px 6px 8px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
a.classicbutton:active, a.classicbutton:hover {text-decoration:none;background-color:#c0392b;color:white;}

/* Product List - Go to Module settings for basic layout options */
.categorydetails {margin-bottom:20px;}
.productlist {overflow:hidden;clear:both;}
.productlist .product {background:#FFFFFF;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#eee solid 5px;position:relative;}
.productlist .edit {padding:0;}
.productlist .edit i {position:absolute;left:4px;top:4px;font-size:19px;}
.productlist .edit i:hover {}
.productlist .product div {text-align:center;}
.productimg {position:relative;}
.productlist .product div.image {display:table-cell;text-align:center;vertical-align:middle;width:inherit;}
.productlist .product div.image img {max-height:204px;}
.productlist .product div.noimage {display:table-cell;text-align:center;vertical-align:middle;width:inherit;font-size:100px;line-height:140px;opacity:0.1;}
.productlist .product div.noimage a:link {color:#efefef;}
.productlist .product .description {text-align:center;border-top:#eee solid 1px;}
.productlist .product .description h1 {font-size:18px;font-weight:400;line-height:20px;margin:12px 10px 0 10px;color:#505050;}
.productlist .product .description h1 a:link, .productlist .product .description h1 a:visited {color:#505050;text-decoration:none;}
.productlist .product .description h1 a:active, .productlist .product .description h1 a:hover {color:#c0392b;text-decoration:none;}
.productlist .product div.price {position:absolute;bottom:18px;left:16px;font-size:18px;line-height:21px;padding:0 5px;color:#c0392b;}
.productlist .product .price .from {font-size:12px;margin-right:4px;}
.productlist .product .price .old {font-size:12px;text-decoration:line-through;}
.productlist .product .price .sale {background:#c0392b;color:white;padding:0 3px;margin-left:3px;}
.productlist .product .entryurl {position:absolute;bottom:18px;right:16px;}
/* Product Overlay */
.productimg-overlay {
  cursor: pointer;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 79px 0 0 0;
}
.productimg-overlay:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.productimg:hover .productimg-overlay {-webkit-opacity:1;-moz-opacity:1;opacity:1;}
.productimg:hover .productimg-overlay:before {-webkit-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
.productimg-overlay a {z-index:3;position:relative;color:#505050;}
.productimg-overlay a:link, .productimg-overlay a:visited {color:#505050;}
.productimg-overlay a:active, .productimg-overlay a:hover {color:#c0392b;text-decoration:none;}

/* Pager */
.NBrightPagingDiv{font-size:18px;margin:24px 0;text-align:left;}
.NBrightPagingDiv ul{list-style:none;margin:0;}
.NBrightPagingDiv ul li{display:inline-block;}
.NBrightPagingDiv a{background:#F2F2F2;border:1px solid #DDDDDD;color:#777777;display:inline-block;font-size:14px;margin-right:4px;padding:6px 10px;}
.NBrightPagingDiv a:hover{color:#FFFFFF;background:#3B96B6;}
.NBrightNormalPg a{}
.NBrightSelectPg a{background:#FFFFFF;}
.NBrightNextPg a{}
.NBrightPrevPg a{}

/* Product Detail */
.productdetail {overflow:hidden;}
.productdetail .images .noimage {color:#DDDDDD;font-size:230px;line-height:250px;text-align:center;}
.productdetail .images {float:left;width:480px;margin:0 24px 0 0;}
.productdetail .image {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#eee solid 5px;display:table-cell;width:480px;text-align:center;padding:10px 0;position:relative;}
.productdetail .image .zoomWrapper {margin:0 auto;}
.productdetail .image img {max-height:460px;}
.productdetail ul.gallery {list-style:none;padding:0;margin:12px 0 0 0;}
.productdetail .gallery li {float:left;margin:0 5px 5px 0;display:block;width:92px;height:92px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#eee solid 1px;}
.productdetail .gallery li a {display:table-cell;width:92px;height:92px;text-align:center;vertical-align:middle;}
.productdetail .gallery li img {max-height:70px;}
.productdetail .gallery li.image6, .productdetail .gallery li.image11 {margin-right:0;}
.productdetail .purchasing {float:left;overflow:hidden;width:456px;}
.productdetail .purchasing  h1 {margin:0 0 20px 0;}
.productdetail .purchasing .summary {border-top:#eaeaea solid 1px;border-bottom:#eaeaea solid 1px;padding:20px 0;margin-bottom:20px;}
.productdetail .purchasing .price {font-size:18px;line-height:21px;margin-bottom:20px;color:#c0392b;}
.productdetail .purchasing .price .old {text-decoration:line-through;}
.productdetail .purchasing .price .sale {background:#c0392b;color:white;padding:0 3px;margin-left:3px;}
.productdetail .purchasing .models {background:#eee;margin-bottom:12px;padding:5px 5px 8px 5px;}
.productdetail .purchasing .modelsradio {border:0;border-collapse:collapse;}
.productdetail .purchasing .modelsradio td {padding:4px;}
.productdetail .purchasing .modelsradio td input[type=radio] {float:left;margin-top:4px;}
.productdetail .purchasing .modelsradio td label {font-size:12px;font-weight:bold;margin-left:4px;}
.productdetail .purchasing .options {background:#eee;margin-bottom:20px;padding:5px;}
.productdetail .purchasing .option {}
.productdetail .purchasing .option:after {content:"";display:table;clear:both;}
.productdetail .purchasing .optionname {font-size:12px;font-weight:bold;width:32%;float:left;padding:7px 10px;}
.productdetail .purchasing .optionvalue {width:54%;float:right;padding:4px;font-size:12px;}
.productdetail .purchasing .optionvalue select {width:100%;padding:4px;color:#707070;outline:none;background-color:#f8f8f8;border:1px solid #f2f2f2;border-bottom:1px solid #d9d9d9;}
.productdetail .purchasing .option:after {content:"";display:table;clear:both;}
.productdetail .purchasing .buy {border:#eaeaea solid 1px;padding:12px;}
.productdetail .purchasing .buy:after {content:"";display:table;clear:both;}
.productdetail .purchasing .buy .outofstock {color:#395876;font-size:12px;font-weight:bold;}
.productdetail .purchasing .buy .holiday {color:#395876;font-size:12px;font-weight:bold;}
.productdetail .purchasing .return {float:right;}
.quantityoptions {float:left;margin:1px 12px 0 0;}
.quantityoptions a {display:block;float:left;height:22px;background-color:#505050;color:white;font-size:16px;text-decoration:none;padding:0 4px;line-height:22px;}
.quantityoptions a:hover {text-decoration:none;background-color:#c0392b;color:white;}
.quantityoptions input {text-align:center;outline:none;background-color:#f8f8f8;border:1px solid #f2f2f2;border-bottom:1px solid #d9d9d9;font-size:16px;margin:0;}
input.quantity {float:left;margin:0 6px;}
.productdetail .details {clear:both;padding:24px 0;}
.buybuttonhide {display:none;}

/* Flags */
.outofstockflag {background:#395876;color:#FFFFFF;font-size:12px;font-weight:bold;right:0;line-height:24px;padding:0 9px;position:absolute;top:5%;}
.outofstockflag:after {border-color:#395876 #395876 #395876 transparent;border-style:solid;border-width:12px 7px;content:" ";left:-7px;position:absolute;}
.onsaleflag {background:#c0392b;color:#FFFFFF;font-size:12px;font-weight:bold;right:0;line-height:24px;padding:0 9px;position:absolute;top:5%;}
.onsaleflag:after {border-color:#c0392b #c0392b #c0392b transparent;border-style:solid;border-width:12px 7px;content:" ";left:-7px;position:absolute;}

/* Details Tabs */
.nav-tabs {margin:0;padding:0;float:left;}
.nav-tabs li {display:block;float:left;font-weight:normal;margin-right:1px;}
.nav-tabs li a {display:block;background:#505050;color:white;text-decoration:none;padding:10px 20px;}
.nav-tabs li a:hover {background:#c0392b;}
.tab-content {clear:both;padding:20px 0;display:none;}
.tab-content h3 {margin-bottom:20px;}
.tab-content.tab-active {display:block;}
.tab-content.tab-hide {display:none;}
.sharingwidget {float:left;background:#505050;color:white;padding:0 20px;}
.sharingwidget .share {padding:10px 3px 10px 0;float:left;}
.addthis_sharing_toolbox {margin-top:10px;}

/* Models Table */
.productdetail .details .models {margin:0px;padding:0px;width:100%;}
.productdetail .details .models table {border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0px;padding:0px;}
.productdetail .details .models tr {background-color:#efefef;border-bottom:white solid 1px;font-size:12px;color:#505050;white-space:nowrap;}
.productdetail .details .models td {padding:12px;}
.productdetail .details .models td.models-option {background-color:#dedede;text-align:center;padding:12px 24px;font-weight:bold;}
.productdetail .details .models td.models-value {width:100%;}
.productdetail .details .models td .old {text-decoration:line-through;}

/* Document Downloads */
.productdetail .documents {}
.productdetail .documents li {margin-bottom:12px;padding-left:32px;position:relative;}
.productdetail .documents li i.fa-file-text {position:absolute;top:0;left:0;color:#dedede;}
.productdetail .documentname {display:block;font-weight:bold;}
.productdetail .documentdescription {display:block;}
.productdetail .documentlink {text-decoration:none;margin-top:10px;}

/* Related Items */
#relatedwrapper {margin-top:20px;}
#relatedwrapper .image {border:none;}

/* Loading image - Includes opacity for IE5-8 */
#loader {opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);}
#loader {background:#848D92;color: #000000;height: 100%;left: 0;opacity: 0.3;transition:all 0.4s ease-in-out 0s;position: fixed;text-align: center;top: 0;width: 100%;z-index: 9999;}
#loader .fa {margin-top:300px;color: #ffffff;}