/* Back Office - These styles are subject to change */
html, body, #Form{padding:0;margin:0;color:#333;font-family:Segoe UI, Arial, Verdana, Helvetica sans-serif;font-size:13px;}
body{background-color:#f3f3f3;}
.NBright_pagemaster{background:#f3f3f3 url(header_bg.gif) repeat-x;position:relative;}
.NBright_langpane{position:absolute;z-index:1000;top:0;right:10px;font-size:10px;color:white;height:43px;}
.NBright_langpane a:link, .NBright_langpane a:visited, .NBright_langpane a:active{line-height:40px;display:block;float:left;height:43px;padding:0 8px;color:white;font-family:Segoe UI, Arial, Sans-Serif;font-size:12px;text-decoration:none;}
.NBright_langpane a:hover{color:white;text-decoration:none;background-color:#1f83cd;}
a.NBright_langsel:link, a.NBright_langsel:visited, a.NBright_langsel:active, a.NBright_langsel:hover {background-color:#1f83cd;}
.NBright_content {clear:both;}
.NBright_contentpane {margin:0 auto;max-width:1320px;min-width:960px;}
.Normal, .NormalDisabled{font-family:Segoe UI, Arial, Sans-Serif;color:#333;font-size:13px;}
table{font-family:Segoe UI, Arial, Sans-Serif;color:#333;font-size:13px;text-align:left;}
a:link, a:visited, a:active{text-decoration:none;color:#333;}
a:hover{text-decoration:none;color:#eb7d04;}
ul li {list-style-type:disc; margin-left:10px; padding-left:0px;}
ul li li {list-style-type:circle;}
ul li li li {list-style-type:circle;}
.NBright_copyright{color:#828282;font-family:Segoe UI, Arial, Sans-Serif;font-size:10px;text-align:center;margin-bottom:10px;}
.NBright_copyright a:link, .NBright_copyright a:visited, .NBright_copyright a:active{color:#828282;}
.NBright_copyright a:hover{color:black;}
.Head{font-family:Arial;color:#666666;}
.SubHead{font-family:Arial;color:#666666;}
.SubSubHead{font-family:Arial;color:#666666;}
.Help{background-color:#f2f2f2;}
.CommandButton{font-family:Arial;font-size:12px;font-weight:normal;color:#5d5d5d;}
A.CommandButton:link, A.CommandButton:visited, A.CommandButton:active{text-decoration:none;color:#5d5d5d;}
A.CommandButton:hover{text-decoration:underline;color:#791112;}
.baseline{border:none;color:#c5c7c8;font-family:Segoe UI, Arial, Sans-Serif;font-size:14px;font-weight:bold;}
/* Hide the DNN action menu */
.dnnActionMenu{display:none;}
.dnnActionMenuBorder {border:0;}
.dnnActionMenuBorder{border:0;-moz-box-shadow: 0 0 0;-webkit-box-shadow: 0 0 0;box-shadow: 0 0 0;}

/* NBright */
#NBright_Banner {
	height: 43px;
	padding-left: 18px;
	font-size: 18px;
	color: #fff;
	line-height: 40px;
}
#NBright_Banner a {color:#fff;}
#NBright_Content {
  padding: 40px 60px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
	margin: 30px 0;
  position: relative;
}

/* Menu list */
#NBright_menu {
	list-style: none;
	height: 39px;
	background: #e5e5e5 url(mm_bg.gif) repeat-x;
	clear: both;
	line-height: 21px;
	margin: 0;
	padding: 0;
}
#NBright_menu li {
	float: left;
	display: block;
	text-align: center;
	position: relative;
	border: none;
	margin: 0;
	padding: 0;
}
#NBright_menu li:hover {
	padding: 0;
	background: #f5f5f5 url(menuarrow.gif) no-repeat 50% 100%;
}
#NBright_menu li a {
	font-size: 15px;
	color: #000;
	display: block;
	outline: 0;
	text-decoration: none;
	padding: 8px 18px 10px;
	cursor:default;
}
#NBright_menu li:hover a {
	color: #000;
}
#NBright_menu li.last {float:right;}
#NBright_menu li.last a {cursor:pointer;}
#NBright_menu li.last:hover {background: #f5f5f5;}
.dropdown-column {
	margin: 0 auto;
	float: left;
	position: absolute;
	left: -999em;/* Hides the drop down */
	text-align: left;
	padding: 0;
	border: 1px solid #cdced0;
	border-top: none;
	z-index: 999;
    box-shadow: 0 3px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.25);
}
.dropdown-column {
	width: 250px;
	background-color: #fff;
}
#NBright_menu li:hover .dropdown-column {
	left: -1px;
	top: 39px;
}
.col {
	display: inline;
	float: left;
	position: relative;
	width: 250px;
}
#NBright_menu .menu-right {
	float: right;
	margin-right: 0px;
}
#NBright_menu li:hover .align-right {
	left: auto;
	right: -1px;
	top: auto;
}
#NBright_menu li:hover div a {
	font-size: 12px;
	color: #4d4d4d;
	background: #f7f7f7;
	background-image: none;
}
#NBright_menu li:hover div a:hover {
	color: #0072c6;
	cursor: pointer;
}
#NBright_menu li:hover div a .hint {
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
	color: #666;
	text-transform: none;
	text-decoration: none;
}
#NBright_menu li:hover div a:hover .hint {
	color: #067aa1;
}
#NBright_menu li ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#NBright_menu li ul li {
	font-size: 12px;
	line-height: 24px;
	position: relative;
	padding: 0;
	margin: 0;
	float: none;
	text-align: left;
	width: 250px;
}
#NBright_menu li ul li:hover {
	background-image: none;
	background-color: #f5f5f5;
	border: none;
	padding: 0;
	margin: 0;
}
#NBright_menu li:hover ul li a {
	padding-left: 50px;
	text-shadow: none;
}
#NBright_menu li ul li a {
	padding: 5px 18px 8px;
}
#NBright_menu li ul li a span {
	font-weight: bold;
}