<!-- Vision ProductView CSS -->
<link href="/Portals/0/Themes/Vision/css/NBS_ProductView.css" rel="stylesheet">

<!-- Flat Icon CSS -->
<link rel="stylesheet" type="text/css" href="/Portals/0/Themes/Vision/css/flaticon.css">

<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=fr"></script>

<!-- Details Tabs -->
<script type="text/javascript">
$(document).ready(function() {

    // Tabs
		$('.nav-tabs > li > a').click(function(event){
		event.preventDefault();//stop browser to take action for clicked anchor

		//get displaying tab content jQuery selector
		var active_tab_selector = $('.nav-tabs > li.tab-active > a').attr('href');

		//find actived navigation and remove 'active' css
		var actived_nav = $('.nav-tabs > li.tab-active');
		actived_nav.removeClass('tab-active');

		//add 'active' css into clicked navigation
		$(this).parents('li').addClass('tab-active');

		//hide displaying tab content
		$(active_tab_selector).removeClass('tab-active');
		$(active_tab_selector).addClass('tab-hide');

		//show target tab content
		var target_tab_selector = $(this).attr('href');
		$(target_tab_selector).removeClass('tab-hide');
		$(target_tab_selector).addClass('tab-active');
	  });

    $('#maptab').click(function(){
	   initialize();
    });

});
</script>

<!-- Lightbox http://osvaldas.info/image-lightbox-responsive-touch-friendly -->
<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuy/Themes/Cygnus/js/imagelightbox.nbb.js"></script>
<script type="text/javascript">
$(document).ready(function() {

//Integrate custom lightBox for NBS
$(function() {
    var activityIndicatorOn = function() {
        $('<div id="imagelightbox-loading"><div></div></div>').appendTo('body');
    },
			activityIndicatorOff = function() {
			    $('#imagelightbox-loading').remove();
			},

			overlayOn = function() {
			    $('<div id="imagelightbox-overlay"></div>').appendTo('body');
			},
			overlayOff = function() {
			    $('#imagelightbox-overlay').remove();
			},

			closeButtonOn = function(instance) {
			    $('<a href="#" id="imagelightbox-close">Close</a>').appendTo('body').on('click', function() { $(this).remove(); instance.quitImageLightbox(); return false; });
			},
			closeButtonOff = function() {
			    $('#imagelightbox-close').remove();
			},

			captionOn = function() {
			    var description = $('a[href="' + $('#imagelightbox').attr('src') + '"] img').attr('alt');
			    if (description.length > 0)
			        $('<div id="imagelightbox-caption">' + description + '</div>').appendTo('body');
			},
			captionOff = function() {
			    $('#imagelightbox-caption').remove();
			},

			navigationOn = function(instance, selector) {
			    var images = $(selector);
			    if (images.length) {
			        var nav = $('<div id="imagelightbox-nav"></div>');
			        for (var i = 0; i < images.length; i++)
			            nav.append('<a href="#"></a>');

			        nav.appendTo('body');
			        nav.on('click touchend', function() { return false; });

			        var navItems = nav.find('a');
			        navItems.on('click touchend', function() {
			            var $this = $(this);
			            if (images.eq($this.index()).attr('href') != $('#imagelightbox').attr('src'))
			                instance.switchImageLightbox($this.index());

			            navItems.removeClass('active');
			            navItems.eq($this.index()).addClass('active');

			            return false;
			        })
					.on('touchend', function() { return false; });
			    }
			},
			navigationUpdate = function(selector) {
			    var items = $('#imagelightbox-nav a');
			    items.removeClass('active');
			    items.eq($(selector).filter('[href="' + $('#imagelightbox').attr('src') + '"]').index(selector)).addClass('active');
			},
			navigationOff = function() {
			    $('#imagelightbox-nav').remove();
			};

					//	Custom configuration for NBrightBuy
		var instanceNBB = $('a[data-imagelightbox="nbb"]').imageLightbox(
		{
			animationSpeed: 100,
		    onStart: function() { overlayOn(); closeButtonOn(instanceNBB); },
		    onEnd: function() { overlayOff(); captionOff(); closeButtonOff(); activityIndicatorOff(); },
		    onLoadStart: function() { captionOff(); activityIndicatorOff(); },
		    onLoadEnd: function() { captionOn(); activityIndicatorOff(); }
		});
});
});

</script>