

<!-- loading display to cover buttons, to stop multiple clicks -->
<div id="loader" class="processing" style="display:none;"><i class="glyphicon glyphicon-cog"></i></div>

<!-- Load these scripts to use nbrightajax functions -->
<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuy/Themes/config/js/nbbajax.js"></script>
<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuy/Themes/config/js/jquery.genxmlajax.js"></script>

