@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Net
@using DotNetNuke.Common
@using NBrightCore.common
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/Themes/ClassicAjax/resx")

<link href="/DesktopModules/NBright/NBrightBuy/Themes/ClassicAjax/css/NBS_Checkout.css" rel="stylesheet">

<!-- fields required to send required ajax cart to server -->
<span id="fullcartdata" style="display: none;">
    <input id="itemcode" value="" type="hidden" /> 
    <input id="carttemplate" type="hidden" value="NBS_FullCartList.cshtml">
    <input id="carttheme" type="hidden" value="ClassicAjax">
    <input id="uilang" type="hidden" value="@Utils.GetCurrentCulture()">
</span>

<!-- return area for ajax data -->
<div id="fullcartdatareturn" style="display:none;"></div>
<div id="fullcartredirectreturn" style="display: none;"></div>

<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuy/Themes/ClassicAjax/js/cart.js"></script>

<input id="checkouturl" type="hidden" value="@(Globals.NavigateURL(Model.GetSettingInt("checkouttabid")))">
