@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using NBrightCore.common

<!-- fields required to send required ajax cart to server -->
<!-- This is in this template so it works for ALL products list/detail modules on the page.-->
<span class="minicartdata" style="display: none;">
    <input id="minicarttemplate" type="hidden" value="NBS_MiniCart.cshtml">
    <input id="minicarttheme" type="hidden" value="ClassicAjax">
    <input id="lang" type="hidden" value="@Utils.GetCurrentCulture()">
</span>

<!-- return area for ajax data -->
<div id="minicartdatareturn" style="display:none;"></div>

<!-- Get messages for JQuery validation -->
@{
    var langcode = Model.GetUrlParam("language");
    if (langcode != "")
    {
        langcode = langcode.Substring(0, 2);
    }

}
@if (langcode != "" && langcode != "en")
{
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_@(langcode).js"></script>
}

<script type="text/javascript">

    $(document).ready(function() {

        //Form validation 
        var form = $("#Form");
        form.validate();

        $('.addtobasket').click(function () {
            if (form.valid()) {
                if (parseInt($('.quantity').val()) < 1) $('.quantity').val('1');
                nbxget('addtobasket', '.entryid' + $(this).attr('itemid'), '#minicartdatareturn'); // Reload Cart
                $('.addedtobasket').delay(10).fadeIn('fast');
            }
        });

        $('#minicartdatareturn').change(function () {
            nbxget('rendercart', '.minicartdata', '.container_classicajax_nbs_minicart'); // Reload Cart
            $('.addedtobasket').delay(1000).fadeOut('fast');
        });

    });

</script>