@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using NBrightCore.common

<!-- fields required to send required ajax cart to server -->
<!-- This is in this template so it works for ALL products list/detail modules on the page.-->
<span class="minicartdata" style="display: none;">
    <input id="minicarttemplate" type="hidden" value="NBS_MiniCart.cshtml">
    <input id="minicarttheme" type="hidden" value="ClassicAjax">
    <input id="uilang" type="hidden" value="@Utils.GetCurrentCulture()">
</span>

<!-- Get messages for JQuery validation -->
@{
    var langcode = Model.GetUrlParam("language");
    if (langcode != "")
    {
        langcode = langcode.Substring(0, 2);
    }

}
@if (langcode != "" && langcode != "en")
{
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_@(langcode).js"></script>
}

<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuy/Themes/ClassicAjax/js/minicart.js"></script>
