<root>
	<general>
		<test1 type="bool" value="1" />
		<test2 value="AAAAAAAA" />
		<test3 value="BBB" />
	</general>
	<products>
		<test1 advanced="1" type="bool" value="1" />
		<test2 value="AAAAAAAA" />
		<test3 value="BBB" />
		<test4 advanced="1" type="int" value="1324324" />
		<test5 type="decimal" value="1324.324" />
	</products>
</root>
