@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
    @using System.Net
    @using DotNetNuke.Common
    @using NBrightCore.common
    @using Nevoweb.DNN.NBrightBuy.Components

    @AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

<link href="/DesktopModules/NBright/NBrightBuy/Themes/Default/css/NBS_Checkout.css" rel="stylesheet">

<!-- fields required to send required ajax cart to server -->
    <span id="checkoutdata" style="display: none;">
        <input id="itemcode" value="" type="hidden" />
        <input id="carttemplate" type="hidden" value="">
        <input id="carttheme" type="hidden" value="ClassicAjax">
        <input id="lang" type="hidden" value="@Utils.GetCurrentCulture()">
        <input id="uilang" type="hidden" value="@Model.Lang" />
        <input id="defaultaddr" value="" type="hidden" />
        <input id="cartstep" value="@(Model.GetUrlParam("cartstep", "1"))" type="hidden" />      
    </span>

   <!-- shipping provider element to trigger reload -->
   <div class="reloadshipprovider" style="display:none;"></div>

<!-- return area for ajax data -->
<div id="checkoutpayredirectreturn" style="display: none;"></div>

<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuy/Themes/Default/js/checkout.js"></script>

