<?xml version="1.0" encoding="utf-8"?>
<genxml>
  <plugin>
    <genxml>
      <files />
      <hidden>
        <index>1</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[dashsummary]]>
        </ctrl>
        <name>
          <![CDATA[Dashboard]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Dashboard]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/DashSummary.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[]]>
        </assembly>
        <namespaceclass>
          <![CDATA[]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
        <active>
          <![CDATA[False]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="UI_x0020_Only">
          <![CDATA[01]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>2</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[products]]>
        </ctrl>
        <name>
          <![CDATA[Products]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Catalog]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/Products.ascx ]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>3</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[categories]]>
        </ctrl>
        <name>
          <![CDATA[Categories]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Catalog]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/Categories.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
      <edt />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>4</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[propertiesvalue]]>
        </ctrl>
        <name>
          <![CDATA[Properties]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Catalog]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/PropertiesValue.ascx ]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>5</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[orders]]>
        </ctrl>
        <name>
          <![CDATA[Orders]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Sales]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/Orders.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>6</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[clients]]>
        </ctrl>
        <name>
          <![CDATA[Clients]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Sales]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/Clients.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>7</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[export]]>
        </ctrl>
        <name>
          <![CDATA[Export]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Utilities]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/Export.ascx ]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Manager,Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>8</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[import]]>
        </ctrl>
        <name>
          <![CDATA[Import]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Utilities]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/Import.ascx ]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Manager,Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
      <edt />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>9</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[settings]]>
        </ctrl>
        <name>
          <![CDATA[Settings]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Admin]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/Settings.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>10</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[plugins]]>
        </ctrl>
        <name>
          <![CDATA[Plugins]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Admin]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/Plugins.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[]]>
        </assembly>
        <namespaceclass>
          <![CDATA[]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
        <active>
          <![CDATA[False]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="UI_x0020_Only">
          <![CDATA[01]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>11</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[tools]]>
        </ctrl>
        <name>
          <![CDATA[Tools]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Admin]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/Tools.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
      <edt />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>12</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[propertygroups]]>
        </ctrl>
        <name>
          <![CDATA[Property Groups]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Admin]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/PropertyGroups.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Manager,Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>13</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[tax]]>
        </ctrl>
        <name>
          <![CDATA[Tax]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Admin]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Providers/TaxProvider/Tax.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Administrators,Manager]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[NBrightBuy.TaxProvider]]>
        </assembly>
        <namespaceclass>
          <![CDATA[Nevoweb.DNN.NBrightBuy.Providers.TaxProvider]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
        <active>
          <![CDATA[True]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="Tax">
          <![CDATA[03]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>14</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[manualpayment]]>
        </ctrl>
        <name>
          <![CDATA[Manual Payment]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Admin]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Providers/ManualPaymentProvider/ManualPayment.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Aministrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[NBrightBuy.ManualPaymentProvider]]>
        </assembly>
        <namespaceclass>
          <![CDATA[Nevoweb.DNN.NBrightBuy.Providers.ManualPaymentProvider]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
        <active>
          <![CDATA[True]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="Payments">
          <![CDATA[07]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>16</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[addressbook]]>
        </ctrl>
        <name>
          <![CDATA[Address Book]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[OrdersGrp]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Admin/AddressBook.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Editor,Manager,Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[True]]>
        </hidden>
      </checkbox>
      <dropdownlist />
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>17</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[shipping]]>
        </ctrl>
        <name>
          <![CDATA[Shipping]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Shipping]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Providers/ShippingProvider/Shipping.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Manager,Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[NBrightBuy.ShippingProvider]]>
        </assembly>
        <namespaceclass>
          <![CDATA[Nevoweb.DNN.NBrightBuy.Providers.ShippingProvider]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
        <active>
          <![CDATA[True]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="Shipping">
          <![CDATA[02]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>18</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[discountcodes]]>
        </ctrl>
        <name>
          <![CDATA[]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[]]>
        </group>
        <path>
          <![CDATA[]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[NBrightBuy.DiscountCodesProvider]]>
        </assembly>
        <namespaceclass>
          <![CDATA[Nevoweb.DNN.NBrightBuy.Providers.DiscountCodesProvider]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[True]]>
        </hidden>
        <active>
          <![CDATA[True]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="DiscountCode">
          <![CDATA[08]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <index>19</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[vouchers]]>
        </ctrl>
        <name>
          <![CDATA[Vouchers]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Promotions]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Providers/PromoProvider/DiscountCodes.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Manager,Editor,Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[]]>
        </assembly>
        <namespaceclass>
          <![CDATA[]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
        <active>
          <![CDATA[False]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="UI_x0020_Only">
          <![CDATA[01]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <plugintemplate>
          <![CDATA[]]>
        </plugintemplate>
        <index>20</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[grouppromo]]>
        </ctrl>
        <name>
          <![CDATA[Group]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Promotions]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Providers/PromoProvider/CategoryPromo.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Manager,Editor,Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[]]>
        </assembly>
        <namespaceclass>
          <![CDATA[]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
        <active>
          <![CDATA[True]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="UI_x0020_Only">
          <![CDATA[01]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <plugintemplate>
          <![CDATA[]]>
        </plugintemplate>
        <index>21</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[multibuypromo]]>
        </ctrl>
        <name>
          <![CDATA[Multi-Buy]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Promotions]]>
        </group>
        <path>
          <![CDATA[/DesktopModules/NBright/NBrightBuy/Providers/PromoProvider/MultiBuyPromo.ascx]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Manager,Editor,Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[]]>
        </assembly>
        <namespaceclass>
          <![CDATA[]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[False]]>
        </hidden>
        <active>
          <![CDATA[True]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="UI_x0020_Only">
          <![CDATA[01]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <plugintemplate>
          <![CDATA[]]>
        </plugintemplate>
        <index>22</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[promogroupscheduler]]>
        </ctrl>
        <name>
          <![CDATA[Promo Group Scheduler]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[]]>
        </group>
        <path>
          <![CDATA[]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Manager,Editor,Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[NBrightBuy.PromoProvider]]>
        </assembly>
        <namespaceclass>
          <![CDATA[Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.GroupPromoScheudler]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[True]]>
        </hidden>
        <active>
          <![CDATA[True]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="Scheduler">
          <![CDATA[05]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <plugintemplate>
          <![CDATA[]]>
        </plugintemplate>
        <index>23</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[promomultibuyscheduler]]>
        </ctrl>
        <name>
          <![CDATA[Multi-Buy Scheduler]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[Promotions]]>
        </group>
        <path>
          <![CDATA[]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[Manager,Editor,Administrators]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[NBrightBuy.PromoProvider]]>
        </assembly>
        <namespaceclass>
          <![CDATA[Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.MultiBuyPromoScheudler]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[True]]>
        </hidden>
        <active>
          <![CDATA[True]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="Scheduler">
          <![CDATA[05]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <plugintemplate>
          <![CDATA[]]>
        </plugintemplate>
        <index>24</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[promotions]]>
        </ctrl>
        <name>
          <![CDATA[Promotions]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[]]>
        </group>
        <path>
          <![CDATA[]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[NBrightBuy.PromoProvider]]>
        </assembly>
        <namespaceclass>
          <![CDATA[Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.CalcPromo]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[True]]>
        </hidden>
        <active>
          <![CDATA[True]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="Promotions">
          <![CDATA[04]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
    <genxml>
      <files />
      <hidden>
        <plugintemplate>
          <![CDATA[]]>
        </plugintemplate>
        <index>25</index>
      </hidden>
      <textbox>
        <ctrl>
          <![CDATA[promoevents]]>
        </ctrl>
        <name>
          <![CDATA[Promo Events]]>
        </name>
        <icon>
          <![CDATA[]]>
        </icon>
        <group>
          <![CDATA[]]>
        </group>
        <path>
          <![CDATA[]]>
        </path>
        <help>
          <![CDATA[]]>
        </help>
        <roles>
          <![CDATA[]]>
        </roles>
        <description>
          <![CDATA[]]>
        </description>
        <assembly>
          <![CDATA[NBrightBuy.PromoProvider]]>
        </assembly>
        <namespaceclass>
          <![CDATA[Nevoweb.DNN.NBrightBuy.Providers.PromoProvider.PromoEvents]]>
        </namespaceclass>
      </textbox>
      <checkbox>
        <hidden>
          <![CDATA[True]]>
        </hidden>
        <active>
          <![CDATA[True]]>
        </active>
      </checkbox>
      <dropdownlist>
        <providertype selectedtext="Events">
          <![CDATA[06]]>
        </providertype>
      </dropdownlist>
      <checkboxlist />
      <radiobuttonlist />
    </genxml>
  </plugin>
</genxml>