/* Drilldown category menu */
a.categoryurl{display:block;}
.drilldownlist{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}
.drilldownlist, .drilldownitem{list-style:none;padding:0;margin:0;}
.drilldownlist > li{}
.drilldownlist .drilldownitem{background:#FFFFFF;float:left;}
.drilldownlist .drilldownitem li{text-align:center;}
.drilldownlist .drilldownitem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;}
.drilldownlist .drilldownitem li.image img{max-height:100%;max-width:100%;}
.drilldownlist .drilldownitem li.noimage{display:table-cell;text-align:center;vertical-align:middle;width:inherit;font-size:100px;line-height:140px;opacity:0.1;color:#000000;}
.drilldownlist .drilldownitem li.title{background:#000000;color:#FFFFFF;font-weight:normal;font-size:150%;line-height:150%;padding:6px 0;}

/* Treeview category menu */
.treemenu{max-width:240px;}
.expander{display:none;text-align:right;}
.nbrightbuy_catmenu, .nbrightbuy_catmenu ul, .nbrightbuy_catmenu li{list-style:none;}
.nbrightbuy_catmenu ul{padding:0;margin:0;}
.nbrightbuy_catmenu{max-width:240px;padding:0;margin:0px;}
.nbrightbuy_catmenu > li{margin:0;}
.nbrightbuy_catmenu > li li{margin:0;}
.nbrightbuy_catmenu a{display:block;outline:none;text-decoration:none;}
.nbrightbuy_catmenu li.open > a > span{transform:rotate(180deg);}
.nbrightbuy_catmenu a:hover, .nbrightbuy_catmenu li.active > a{}
.nbrightbuy_catmenu > li.active > a{}
.nbrightbuy_catmenu li a{padding:0;}
.nbrightbuy_catmenu a.level0{margin-bottom:1px;padding-left:9px;font-weight:bold;font-size:15px;line-height:34px;background:#C2C2C2;color:#FFFFFF;}/* Root */
.nbrightbuy_catmenu a.level0:hover{}/* Hover */
.nbrightbuy_catmenu a.level0:hover span{color:#FFFFFF;}/* Caret */
.nbrightbuy_catmenu a.level1{margin-bottom:1px;padding-left:18px;font-weight:normal;font-size:12px;line-height:32px;background:#FFFFFF;color:#444444;}/* Sub */
.nbrightbuy_catmenu a.level1:hover{color:#333333;}/* Hover */
.nbrightbuy_catmenu a.level1:hover span{color:#646262;}/* Caret hover */
.nbrightbuy_catmenu a.level2{margin-bottom:1px;padding-left:36px;font-weight:normal;font-size:12px;line-height:32px;background:#FFFFFF;color:#444444;}/* Sub Sub */
.nbrightbuy_catmenu a.level2:hover span{color:#333333;}/* Caret Hover */
.nbrightbuy_catmenu a.level3{margin-bottom:1px;padding-left:36px;font-weight:normal;font-size:12px;line-height:32px;background:#FFFFFF;color:#444444;}/* Sub Sub Sub */
.nbrightbuy_catmenu a.level3:hover span{color:#333333;}/* Caret Hover */
.nbrightbuy_catmenu li > a > span{float:right;font-size:17px;text-align:center;width:32px;}/* Caret */
.nbrightbuy_catmenu li > a:hover > span{color:#C2C2C2;}
.nbrightbuy_catmenu li.active > a:before{content:'\25b6\a0';}/* http://mcdlr.com/8/ */

/* Breadcrumbs */
.categorybreadcrumbs{text-align:left;margin-bottom:20px;}
.categorybreadcrumbs ul{list-style:none;display:inline-table;margin:0;}
.categorybreadcrumbs ul li{display:inline;}
.categorybreadcrumbs ul li a{background:none repeat scroll 0 0 #C2C2C2;color:#FFFFFF;display:inline-block;font-size:12px;font-weight:bold;height:28px;line-height:28px;padding:0 14px 0 28px;position:relative;text-align:center;text-decoration:none;margin-right:2px;}
.categorybreadcrumbs ul li a:after{border-bottom:14px solid transparent;border-left:14px solid #C2C2C2;border-top:14px solid transparent;content:"";position:absolute;right:-14px;top:0;z-index:1;}
.categorybreadcrumbs ul li a:before{border-bottom:14px solid transparent;border-left:14px solid #EFEFEF;border-top:14px solid transparent;content:"";left:0;position:absolute;top:0;}
.categorybreadcrumbs ul li:first-child a{padding:0 14px 0 20px;}
.categorybreadcrumbs ul li:first-child a:before{display:none;}
.categorybreadcrumbs ul li:last-child a{}
.categorybreadcrumbs ul li:last-child a:after{}
.categorybreadcrumbs ul li a:hover{background:#505050;color:#ffffff;}
.categorybreadcrumbs ul li a:hover:after{border-left-color:#505050;color:#ffffff;}

/* Product List - Go to Module settings for basic layout options */
.categorydetails {margin-bottom:20px;}
.productlist {overflow:hidden;clear:both;}
.productlist .product {background:#FFFFFF;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#eee solid 5px;position:relative;}
.productlist .edit {padding:0;}
.productlist .edit i {position:absolute;left:4px;top:4px;font-size:19px;}
.productlist .edit i:hover {}
.productlist .product div {text-align:center;}
.productimg {position:relative;}
.productlist .product div.image {display:table-cell;text-align:center;vertical-align:middle;width:inherit;}
.productlist .product div.image img {max-height:204px;}
.productlist .product div.noimage {display:table-cell;text-align:center;vertical-align:middle;width:inherit;font-size:100px;line-height:140px;opacity:0.1;}
.productlist .product div.noimage a:link {color:#efefef;}
.productlist .product .description {text-align:center;border-top:#eee solid 1px;}
.productlist .product .description h2 {font-size:18px;font-weight:400;line-height:20px;margin:12px 10px 0 10px;color:#505050;}
.productlist .product .description h2 a:link, .productlist .product .description h2 a:visited {color:#505050;text-decoration:none;}
.productlist .product .description h2 a:active, .productlist .product .description h2 a:hover {color:#757370;text-decoration:none;}
.productlist .product div.price {position:absolute;bottom:18px;left:16px;font-size:18px;line-height:21px;padding:0 5px;color:#757370;}
.productlist .product .price .from {font-size:12px;margin-right:4px;}
.productlist .product .price .old {font-size:12px;text-decoration:line-through;}
.productlist .product .price .sale {background:#757370;color:white;padding:0 3px;margin-left:3px;}
.productlist .product .entryurl {position:absolute;bottom:18px;right:16px;}
/* Product Overlay */
.productimg-overlay {
  cursor: pointer;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 79px 0 0 0;
}
.productimg-overlay:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.productimg:hover .productimg-overlay {-webkit-opacity:1;-moz-opacity:1;opacity:1;}
.productimg:hover .productimg-overlay:before {-webkit-opacity:0.4;-moz-opacity:0.4;opacity:0.4;}
.productimg-overlay a {z-index:3;position:relative;color:#505050;}
.productimg-overlay a:link, .productimg-overlay a:visited {color:#505050;}
.productimg-overlay a:active, .productimg-overlay a:hover {color:#757370;text-decoration:none;}
/* Touch Device */
.productimgtouch .productimg-overlay {-webkit-opacity:1;-moz-opacity:1;opacity:1;}
.productimgtouch:hover .productimg-overlay:before {display:none;}

/* Pager */
.NBrightPagingDiv{font-size:18px;margin:24px 0;text-align:left;}
.NBrightPagingDiv ul{list-style:none;margin:0;}
.NBrightPagingDiv ul li{display:inline-block;}
.NBrightPagingDiv a{background:#F2F2F2;border:1px solid #DDDDDD;color:#777777;display:inline-block;font-size:14px;margin-right:4px;padding:6px 10px;}
.NBrightPagingDiv a:hover{color:#FFFFFF;background:#3B96B6;}
.NBrightNormalPg a{}
.NBrightSelectPg a{background:#FFFFFF;}
.NBrightNextPg a{}
.NBrightPrevPg a{}

/* Product Detail */
.productdetail {overflow:hidden;line-height:normal;}
.productdetail .images .noimage {color:#DDDDDD;font-size:230px;line-height:250px;text-align:center;}
.productdetail .images {float:left;width:480px;margin:0 24px 0 0;}
.productdetail .image {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#eee solid 5px;display:table-cell;width:480px;text-align:center;padding:10px 0;position:relative;}
.productdetail .image .zoomWrapper {margin:0 auto;}
.productdetail .image img {max-height:460px;}
.favorite-flag {position:absolute;top:10px;left:10px;}
.favorite-flag a {color:#505050;cursor:pointer;}
.favorite-flag a:hover {color:#757370;text-decoration:none;}
.productdetail ul.gallery {list-style:none;padding:0;margin:12px 0 0 0;}
.productdetail .gallery li {float:left;margin:0 5px 5px 0;display:block;width:92px;height:92px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:#eee solid 1px;}
.productdetail .gallery li a {display:table-cell;width:92px;height:92px;text-align:center;vertical-align:middle;}
.productdetail .gallery li img {max-height:70px;}
.productdetail .gallery li.image6, .productdetail .gallery li.image11 {margin-right:0;}
.productdetail .purchasing {float:left;overflow:hidden;width:456px;}
.productdetail .purchasing  h1 {margin:0 0 20px 0;}
.productdetail .purchasing .summary {border-top:#eaeaea solid 1px;border-bottom:#eaeaea solid 1px;padding:20px 0;margin-bottom:20px;}
.productdetail .purchasing .price {font-size:18px;line-height:21px;margin-bottom:20px;color:#757370;}
.productdetail .purchasing .price .old {text-decoration:line-through;}
.productdetail .purchasing .price .sale {background:#757370;color:white;padding:0 3px;margin-left:3px;}
.productdetail .purchasing .models {background:#eee;margin-bottom:12px;padding:5px 5px 8px 5px;}
.productdetail .purchasing .modelsradio {border:0;border-collapse:collapse;}
.productdetail .purchasing .models div {padding:4px;}
.productdetail .purchasing .models div input[type=radio] {float:left;margin-top:4px;}
.productdetail .purchasing .models div label {font-size:12px;font-weight:bold;margin-left:4px;}
.productdetail .purchasing .options {background:#eee;margin-bottom:20px;padding:5px;}
.productdetail .purchasing .option {}
.productdetail .purchasing .option:after {content:"";display:table;clear:both;}
.productdetail .purchasing .optionname {font-size:12px;font-weight:bold;width:32%;float:left;padding:7px 10px;}
.productdetail .purchasing .optionvalue {width:54%;float:right;padding:4px;font-size:12px;}
.productdetail .purchasing .optionvalue select {width:100%;padding:4px;color:#707070;outline:none;background-color:#f8f8f8;border:1px solid #f2f2f2;border-bottom:1px solid #d9d9d9;}
.productdetail .purchasing .option:after {content:"";display:table;clear:both;}
.productdetail .purchasing .buy {border:#eaeaea solid 1px;padding:12px;}
.productdetail .purchasing .buy:after {content:"";display:table;clear:both;}
.productdetail .purchasing .buy .outofstock {color:#395876;font-size:12px;font-weight:bold;}
.productdetail .purchasing .buy .holiday {color:#395876;font-size:12px;font-weight:bold;}
.productdetail .purchasing .return {float:right;}
.quantityoptions {float:left;margin:1px 12px 0 0;}
.quantityoptions a {display:block;float:left;height:22px;background-color:#505050;color:white;font-size:16px;text-decoration:none;padding:0 4px;line-height:22px;}
.quantityoptions a:hover {text-decoration:none;background-color:#757370;color:white;}
.quantityoptions input {text-align:center;outline:none;background-color:#f8f8f8;border:1px solid #f2f2f2;border-bottom:1px solid #d9d9d9;font-size:16px;margin:0;}
input.quantity {float:left;margin:0 6px;}
.productdetail .details {clear:both;padding:24px 0;}
.buybuttonhide {display:none;}

/* Details Tabs */
.nav-tabs {margin:0;padding:0;float:left;}
.nav-tabs li {display:block;float:left;font-weight:normal;margin-right:1px;}
.nav-tabs li a {display:block;background:#505050;color:white;text-decoration:none;padding:10px 20px;}
.nav-tabs li a:hover {background:#757370;}
.tab-content {clear:both;padding:20px 0;display:none;}
.tab-content h3 {margin-bottom:20px;}
.tab-content.tab-active {display:block;}
.tab-content.tab-hide {display:none;}
.sharingwidget {float:left;background:#505050;color:white;padding:0 20px;}
.sharingwidget .share {padding:10px 3px 10px 0;float:left;}
.addthis_sharing_toolbox {margin-top:12px;line-height:normal;}
.addthis_fake {margin-top:6px;}

/* Models Table */
.productdetail .details .models {margin:0px;padding:0px;width:100%;}
.productdetail .details .models table {border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0px;padding:0px;}
.productdetail .details .models tr {background-color:#efefef;border-bottom:white solid 1px;font-size:12px;color:#505050;white-space:nowrap;}
.productdetail .details .models td {padding:12px;}
.productdetail .details .models td.models-option {background-color:#dedede;text-align:center;padding:12px 24px;font-weight:bold;}
.productdetail .details .models td.models-value {width:100%;}
.productdetail .details .models td .old {text-decoration:line-through;}

/* Document Downloads */
.productdetail .documents {}
.productdetail .documents li {margin-bottom:12px;padding-left:32px;position:relative;}
.productdetail .documents li i.fa-file-text {position:absolute;top:0;left:0;color:#dedede;}
.productdetail .documentname {display:block;font-weight:bold;}
.productdetail .documentdescription {display:block;}
.productdetail .documentlink {text-decoration:none;margin-top:10px;}

/* Related Items */
#relatedwrapper {margin-top:20px;}
#relatedwrapper .image {border:none;}

/* Currency Convertor */
.ccwrapper{border-collapse:collapse;display:table;table-layout:fixed;}
.ccinner{display:table-row;}
.currencyconverter, .ccinfo{display:table-cell;vertical-align:top;}
.currencyconverter, .currencyconverter iframe{width:200px;}
.ccinfo{padding-right:24px;width:100%;}

/* Related Items */
.productdetail .relateditem{list-style:none outside none;margin:0;padding:0;background:#FFFFFF;float:left;}
.productdetail .relateditem li{text-align:center;}
.productdetail .relateditem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;}
.productdetail .relateditem li.noimage{font-size:80px;line-height:120px;text-align:center;}
.productdetail .relateditem li.noimage a:link{color:#efefef;}
.productdetail .relateditem li.title{line-height:150%;font-weight:bold;padding:3px 0;font-size:12px;}
.productdetail .relateditem .manufacturer{display:inline-block;margin-right:3px;}
.productdetail .relateditem .name{display:inline-block;}

/* Flags */
.outofstockflag {background:#395876;color:#FFFFFF;font-size:12px;font-weight:bold;right:0;line-height:24px;padding:0 9px;position:absolute;top:10%;}
.outofstockflag:after {border-color:#395876 #395876 #395876 transparent;border-style:solid;border-width:12px 7px;content:" ";left:-7px;position:absolute;}
.onsaleflag {background:#757370;color:#FFFFFF;font-size:12px;font-weight:bold;right:0;line-height:24px;padding:0 9px;position:absolute;top:5%;}
.onsaleflag:after {border-color:#757370 #757370 #757370 transparent;border-style:solid;border-width:12px 7px;content:" ";left:-7px;position:absolute;}
.addedtobasket {position:absolute;top:5%;width:100%;z-index:9000;text-align:center;}
.addedtobasket span {background:#e5f6fe;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:5px 8px;font-size:12px;}

/* Advanced Search */
.advancedsearch{max-width:240px;list-style:none;padding:10px;margin:0;box-sizing:border-box;background:#FFFFFF;}
.advancedsearch input[type=text]{margin-bottom:0;box-sizing:border-box;}
.advancedsearch select{margin-bottom:0;box-sizing:border-box;}
.advancedsearch li{margin-bottom:18px;}
.advancedsearch h5{margin-bottom:18px;}
.advancedsearch h6{margin-bottom:6px;}
.advancedsearch .filterlabel{color:#777777;font-size:12px;display:block;margin:6px 0 18px;}
.advancedsearch .searchtext{}
.advancedsearch .searchtext input[type=text]{width:100%;}
.advancedsearch .pricerange{}
.advancedsearch .pricerange input[type=text]{width:50px;}
.advancedsearch .pricerange .rangemin{text-align:right;}
.advancedsearch .pricerange .rangemax{}
.advancedsearch .pricerange .rangeseperator{display:inline-block;margin:0 7px;}
.advancedsearch .pricerange #pricerangeslider{box-sizing:border-box;margin:12px 7px 0;}
.advancedsearch .orderby{}
.advancedsearch .orderby select{width:100%;}
.advancedsearch .stock{padding-left:3px;}
.advancedsearch .manufacturer{}
.advancedsearch .attributes{}
.advancedsearch .promotions{}
.advancedsearch .buttons{}
.advancedsearch .buttons a:link{margin-right:6px;}
.advancedsearch .processing{}
.advancedsearch .processing .fa{color:#68ABE1;vertical-align:middle;}

/* Client Menu */
.clientmenu{margin-bottom:30px;overflow:hidden;}
.clientmenu .fa{margin:0 0 0 4px}
.clientmenu a{background:#42403f;color:#ffffff;display:inline-block;float:right;margin-left:4px;padding:5px 9px 4px 6px;}
.clientmenu a:hover{background:#757370;color:#FFFFFF;}
.myorders{}
.myaddresses{}
.myprofile{}

/* Address Book */
#checkoutselectaddress{list-style:none;padding:0;margin:30px 0 0;}
#checkoutselectaddress li{background:none repeat scroll 0 0 #ffffff;border-radius:5px;box-shadow:1px 1px 6px #C9C9C9;box-sizing:border-box;float:left;margin:0 4% 3% 0;min-height:260px;min-width:270px;padding:50px 30px 30px;width:29%;position:relative;}
#checkoutselectaddress hr{margin:6px 0 4px;border-color:#dddddd;border-style:dashed;}
#checkoutselectaddress .addresstype{top:10px;color:#bbbbbb;position:absolute;right:10px;}
#checkoutselectaddress .addressbuttons{display:inline-block;vertical-align:-5px;}
#checkoutselectaddress a{color:#dddddd;}
#checkoutselectaddress a.editaddress:hover{color:#47BE27;}
#checkoutselectaddress a.deleteaddress:hover{color:#D33030;}
#addressinput .formrow input[type=text], .formrow input[type=email], .formrow select, .formrow textarea{box-sizing:border-box;width:100%;margin:0 0 15px;}
#addressinput{float:left;width:47%;margin-bottom:30px;min-width:240px;}
#addressinput .leftside{float:left;width:48%;}
#addressinput .rightside{float:right;width:48%;}
#addressinput H3{line-height:34px;margin:0 0 12px;padding:0;}
#addressinput H6{font-size:12px;font-weight:normal;margin:0 0 5px;}

/* Order Manager */
.ordersearch{margin-bottom:30px;overflow:hidden;}
.ordersearch div{float:left;margin:0 15px 0 0;}
.ordersearch .primarybutton, .ordersearch .secondarybutton{margin:0;padding:0 15px;width:auto;}
#orderadmin{clear:both;}
#orderadmin .address{margin-bottom:5px;}
#orderadmin .person{border-bottom:1px solid rgba(153, 153, 153, 0.34);}
.ordersearch input{margin-bottom:0;}
.orders .fa{color:#cccccc;}
.orders .fa-edit:hover{color:#47BE27;}
.orders .fa-repeat:hover{color:#42403f;}
/* These 3 lines make the status dropdown show only text on the orders list and hides the select arrow in IE - To be removed when status has a token */
.orders select.aspNetDisabled.form-control{background-color:transparent;border:0 none;box-shadow:none;cursor:default;color:inherit;height:inherit;line-height:inherit;opacity:1;padding:0;margin:0;}
.orders select.aspNetDisabled.form-control option{padding-bottom:0;}
.orders select.aspNetDisabled.form-control::-ms-expand{display:none;}
.orders .dropdown-menu > li > a{display:inline-block;width:100%;}
/* The default DNN input styling is not applied to date inputs - fixed here but only for default skin */
.ordersearch input[type=date]{background:none repeat scroll 0 0 #f3f3f3;border:1px solid #bfbfbf;border-radius:0;box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.8), 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;color:#666666;font-size:13px;margin-bottom:20px;padding:9px;}

/* Profile Manager */
#profileinput .formrow input[type=text], .formrow input[type=email], .formrow select, .formrow textarea{box-sizing:border-box;width:100%;margin:0 0 15px;}
#profileinput{float:left;width:47%;margin-bottom:30px;min-width:240px;}
#profileinput .leftside{float:left;width:48%;}
#profileinput .rightside{float:right;width:48%;}
#profileinput H3{line-height:34px;margin:0 0 12px;padding:0;}
#profileinput H6{font-size:12px;font-weight:normal;margin:0 0 5px;}

/* cartlist Table - csstablegenerator.com */
.orders{border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0px;padding:0px;}
.orders th{vertical-align:top;border:none;border-bottom:2px solid #dddddd;text-align:left;padding:10px;font-size:inherit;font-family:inherit;font-weight:bold;color:inherit;}
.orders tr:last-child td:last-child{}
.orders tr:first-child td:first-child{}
.orders tr:first-child td:last-child{}
.orders tr:last-child td:first-child{}
.orders tr:hover td{background-color:#fff;}
.orders tr:nth-child(odd){}
.orders tr:nth-child(even){background-color:#F5F5F5;}
.orders td{vertical-align:top;border:none;border-bottom:1px solid #dddddd;text-align:left;padding:10px;font-size:inherit;font-family:inherit;font-weight:normal;color:inherit;}
.orders tr:last-child td{}
.orders tr td:last-child{}
.orders tr:last-child td:last-child{}
.orders tr:first-child td{}
.orders tr:first-child:hover td{}
.orders tr:first-child td:first-child{}
.orders tr:first-child td:last-child{}
#orderadmin .panel{padding:40px 60px;}
#orderadmin .leftside{float:left;width:57%;margin-right:6%;}
#orderadmin .rightside{float:left;width:37%;}
#orderadmin .billaddress{float:left;width:47%;margin-right:6%;line-height:160%;margin-bottom:15px;}
#orderadmin .shipaddress{float:left;width:47%;line-height:160%;margin-bottom:15px;min-width:145px;}
#orderadmin .storeaddress{float:left;width:100%;line-height:160%;}
/* These 3 lines make the status dropdown show only text on the orders list and hides the select arrow in IE - To be removed when status has a token */
#orderadmin select.aspNetDisabled.form-control{background-color:transparent;border:0 none;box-shadow:none;cursor:default;color:inherit;height:inherit;line-height:inherit;opacity:1;padding:0;margin:0;}
#orderadmin select.aspNetDisabled.form-control option{padding-bottom:0;}
#orderadmin select.aspNetDisabled.form-control::-ms-expand{display:none;}
#orderadmin .dropdown-menu > li > a{display:inline-block;width:100%;}

/* orderdetails Table - csstablegenerator.com */
.orderdetailitems{border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0px;padding:0px;}
.orderdetailitems th{vertical-align:top;border:none;border-bottom:2px solid #dddddd;text-align:left;padding:10px;font-size:inherit;font-family:inherit;font-weight:bold;color:inherit;}
.orderdetailitems tr:last-child td:last-child{}
.orderdetailitems tr:first-child td:first-child{}
.orderdetailitems tr:first-child td:last-child{}
.orderdetailitems tr:last-child td:first-child{}
.orderdetailitems tr:hover td{background-color:#F5F5F5;}
.orderdetailitems tr:nth-child(odd){}
.orderdetailitems tr:nth-child(even){}
.orderdetailitems td{vertical-align:top;border:none;border-bottom:1px solid #dddddd;text-align:left;padding:10px;font-size:inherit;font-family:inherit;font-weight:normal;color:inherit;}
.orderdetailitems tr:last-child td{}
.orderdetailitems tr td:last-child{}
.orderdetailitems tr:last-child td:last-child{}
.orderdetailitems tr:first-child td{}
.orderdetailitems tr:first-child:hover td{}
.orderdetailitems tr:first-child td:first-child{}
.orderdetailitems tr:first-child td:last-child{}
.orderdetailitems .active td{background-color:#f5f5f5;}

/* General Form Styles */
.formrow:after, .radiobuttonlist:after {content:"";display:table;clear:both;}
.formrow label {display:block;font-size:12px;font-weight:normal;text-transform:uppercase;line-height:normal;margin:0 0 5px;}
.formrow input[type=text], .formrow input[type=email], .formrow select, .formrow textarea {border:1px solid #dddddd;box-sizing:border-box;height:30px;padding:0 7px;width:100%;margin:0 0 15px;}
.formrow select {padding-right:0;}
.formrow input[type=radio] {float:left;margin:0 0 0 10px;}
.radiobuttonlist label {float:left;margin:-2px 0 0 6px;text-transform:none;}
.formrow input[type=checkbox] {float:left;margin:0 0 0 10px;}
.submissioncheck {margin:0 0 9px !important;}
.submissioncheck label {float:left;margin:-2px 0 0 6px;text-transform:none;font-style:italic;}
/* === HTML5 Validation Styles === */
.Cygnus input:required {background:#fff url("/Portals/naturalgames/Themes/Cygnus/img/red_asterisk.png") no-repeat 98% center;outline:none !important;}
.Cygnus input:focus:invalid {background:#fff url("/Portals/naturalgames/Themes/Cygnus/img/invalid.png") no-repeat 98% center;}

/* Checkout Steps */
.checkoutsteps {background:#efefef;font-size:12px;color:#3f3030;margin-bottom:12px;}
.checkoutsteps:after {content:"";display:table;clear:both;}
.checkoutstepsheader {background:#dedede;padding:12px 24px;font-weight:bold;float:left;}
.checkoutsteps ol {counter-reset:li;list-style:none;padding:0;margin:0;}
.checkoutsteps li {position:relative;display:block;padding:6px 36px 6px 24px;margin:6px 0;float:left;color:#747474;}
.checkoutsteps li:before {content:counter(li);counter-increment:li;position:absolute;left:-12px;top:50%;margin-top:-12px;background:white;color:#a7a7a7;height:24px;width:24px;line-height:22px;text-align:center;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;}
.checkoutsteps li.activestep {color:#3f3030;}
.checkoutsteps li.activestep:before {background:#56a9df;color:white;}

/* Checkout */
#cartdetails{overflow:hidden;padding:1%;}/* some padding for panel shadows */
#cartdetails H3{line-height:34px;margin:0 0 12px;padding:0;}
#cartdetails H6{font-size:12px;font-weight:normal;margin:0 0 5px;}
#cartdetails .formrow{clear:both;}
/*#cartlist .formrow{clear:both;text-align:right;}*/
#cartdetails .chooseaddress{background:#fefff4;box-shadow:none;padding:3px;}
#cartdetails .formrow input[type=text], .formrow input[type=email], .formrow select, .formrow textarea{box-sizing:border-box;width:100%;margin:0 0 15px;}
#cartdetails .leftside{float:left;width:48%;}
#cartdetails .rightside{float:right;width:48%;}
#shippingoptions{margin-bottom:10px;}
#shippingoptions input{vertical-align:-2px;margin:0 0 0 10px;}
#shippingoptions label{line-height:22px;margin:0 0 0 6px;}
.checkoutship input{vertical-align:-2px;margin:0 0 0 10px;}
.checkoutship label{line-height:22px;margin:0 0 0 6px;}
#checkoutdetails .primarybutton{margin-right:0;}
.checkoutextra .summaryleft{float:left;width:43%;min-width:240px;overflow:hidden;margin-bottom:25px;}
.checkoutextra .summaryright{float:right;min-width:240px;width:45%;}
.summaryleft .newscheckbox{padding-top:26px;}
.checkoutdetails{list-style:none outside none;margin:0;padding:0 0 15px;display:inline-block;}
.checkoutdetails li{line-height:180%;}
.checkoutdetails li div{display:inline-block;width:140px;}
.checkoutdetails li.total{border-top:2px solid #bbbbbb;margin-bottom:12px;}
.checkoutdetails .submission{margin-top:15px;}
.checkoutdetails .dnnForm{margin-bottom:4px}
.productdetail .purchasing{}
#cartempty{}
#cartbilladdress, #cartshippingoptions, #cartshippingmethods, #cartextra, #cartlist, #payment, #addressinput{overflow:hidden;box-sizing:border-box;}
#cartbilladdress{float:left;width:47%;margin-bottom:30px;min-width:240px;}
#cartshippingoptions{float:right;width:47%;margin-bottom:30px;min-width:240px;}
#cartshippingmethods{clear:both;width:100%;margin-bottom:30px;}
#cartextra{clear:both;width:100%;margin-bottom:30px;}
#cartlist{clear:both;width:100%;margin-bottom:30px;overflow:visible;}
#cartlist .secondarybutton{margin-right:0;}
#cartdetails .radiobuttonlist .dnnRadiobutton{margin:0 0 9px;}
#cartdetails .radiobuttonlist .dnnBoxLabel{margin-right:15px;}

/* cartlist Table - www.csstablegenerator.com */
#cartlist{margin-bottom:24px;}
#cartlist table{margin:0px;padding:0px;width:100%;border-collapse:collapse;border-spacing:0;width:100%;}
#cartlist table tr:nth-child(odd){background-color:#f2f2f2;}
#cartlist table tr:nth-child(even){background-color:#ffffff;}
#cartlist table td{vertical-align:middle;text-align:center;padding:6px;font-family:inherit;font-weight:normal;border:1px solid #DDDDDD;padding:10px;text-align:center;}
#cartlist table tr:last-child td{}
#cartlist table tr td:last-child{}
#cartlist table tr:last-child td:last-child{}
#cartlist table th{background:#777777;color:#FFFFFF;line-height:34px;padding:0;}
#cartlist table tr:first-child td:first-child{}
#cartlist table tr:first-child td:last-child{}

/* cartlist items */
#cartlist .detailscolumn .noimage{float:left;height:100px;margin-right:12px;width:100px;}
#cartlist .detailscolumn .image{float:left;height:100px;margin-right:12px;width:100px;}
#cartlist .detailscolumn img{width:100%;height:100%;}
#cartlist .detailscolumn .details{overflow:hidden;}
#cartlist th.detailscolumn{padding-left:12px;}
#cartlist .detailscolumn{text-align:left;}
#cartlist .detailscolumn .title{font-weight:bold;}
#cartlist .cartlistoptions{clear:both;}
#cartlist .quantity{box-shadow:none;text-align:center;width:33px;}
#cartlist .ui-spinner{font-size:17px;}
#cartlist .deleteitem{}
#cartlist .fa-times-circle{color:#666;}
#cartlist .fa-times-circle:hover{color:#C80000;}

/* Payment */
#payment{width:66%;margin:0 auto;padding:1%;} /* padding to allow for box shadow on panel */
#payment .paymentlogo{float:right;margin:0 0 15px 15px;}
#payment h1{font-size:38px;line-height:100%;margin:24px;opacity:0.5;}
.paymentcomplete, .paymentfailed{width:66%;margin:0 auto;}*/

/* default payment button */
.paybutton{background:#42403f;color:#FFFFFF;}
.paybutton:hover{background:#757370;color:#FFFFFF;}
.paybutton{display:inline-block;font-weight:bold;line-height:35px;padding:0 10px;margin:10px 10px 10px 0;text-align:center;width:45%;border:medium none;text-decoration:none;box-sizing:border-box;cursor:pointer;}
.paybutton{font-family:sans-serif;display:inline-block;font-weight:bold;font-size:13px;line-height:35px;padding:0 10px;margin:10px 10px 10px 0;min-width:120px;text-align:center;border:medium none;text-decoration:none;box-sizing:border-box;cursor:pointer;}
.paybutton:hover{text-decoration:none;}

/* Temporary conversion fixes */
.share {color:white !important;}

/* Geoff / This is stuff that gets the checkout working again and also overrides some other bootster skin styles
#cartlist .formrow{text-align:left}
mark, .mark {background-color:transparent;}
.quantitycolumn .ui-spinner-button{cursor:pointer;font-size:1.2em;}*/

/* Cygnus Minicart
.cygnus .minicart{background:#041839;margin-bottom:24px;max-width:240px;}
.cygnus .minicart .checkoutbuttonleft, .minicart .checkoutbuttonright{color:#FFFFFF;display:inline-block;font-size:16px;line-height:35px;padding:0 16px;}
.cygnus .minicart .checkoutbuttonright{background:#AE0051;font-weight:bold;float:right;}
.cygnus .minicart .checkoutbuttonright:hover{background:#FF0076;}
*/

/* Classic Minicart & Wishlist
.miniwishlist {background:url("/DesktopModules/NBright/NBrightBuy/Themes/Classic/img/favorites.png") no-repeat 0 17px;height:60px;line-height:58px;color:white;font-size:14px;text-transform:uppercase;padding-left:34px;float:left;margin-right:12px;}
.miniwishlist a:link, .miniwishlist a:visited {color:white;text-decoration:none;}
.miniwishlist a:active, .miniwishlist a:hover {color:#505050;text-decoration:none;}
.minicart {background:url("/DesktopModules/NBright/NBrightBuy/Themes/Classic/img/basket.png") no-repeat 0 17px;height:60px;line-height:58px;color:white;font-size:14px;text-transform:uppercase;padding-left:34px;float:left;}
.minicart a:link, .minicart a:visited {color:white;text-decoration:none;}
.minicart a:active, .minicart a:hover {color:#505050;text-decoration:none;}
*/

/* Classic buttons */
a.classicbutton:link, a.classicbutton:visited {text-decoration:none;background:#505050;color:white;display:inline-block;font-size:14px;line-height:14px;padding:4px 8px 6px 8px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
a.classicbutton:active, a.classicbutton:hover {text-decoration:none;background-color:#757370;color:white;}

/* MEDIA QUERIES FROM GLOBAL.CSS NEEDS TO BE MOVED HERE */

/* Responsive stuff belongs at end */

/* Responsive layout - Any screen at less than 768px - Most tablets */
@media only screen 
and (min-width : 481px) 
and (max-width : 768px) {
.panel{padding:30px 60px;}
#cartbilladdress, #cartshippingoptions, #cartshippingmethods, #cartextra, #payment, #addressinput{min-width:240px;width:100%;float:none;}
.checkoutextra .summaryleft,.checkoutextra .summaryright,.checkoutextra .checkoutdetails{width:100%;}
#checkoutitemlist .detailscolumn .details{clear:left;}
#checkoutitemlist .detailscolumn .noimage{height:160px;margin-right:0;width:160px;}
#checkoutitemlist .detailscolumn .image{height:160px;margin-right:0;width:160px;}
#checkoutitemlist .detailscolumn .image{height:160px;width:160px;}
#chronopostrelaistemplate #relais{float:none;margin:0 0 25px;width:100%;}
#chronopostrelaistemplate #map-canvas{width:100%;height:400px;float:none;}
#checkoutselectaddress li{width:48%;margin:0 2% 24px 0;min-width:240px;}
#orderadmin .orders .removecolumn{display:none;}
#payment h1{font-size:28px;margin:24px 58px;}
.paymentcomplete, .paymentfailed{width:80%;}
#imagelightbox-close{top:1.25em;right:1.25em;}
#imagelightbox-nav{bottom:1.25em;}
.currencyconverter, .ccinfo{display:table-row;}
.r-tabs .r-tabs-nav {display:none;}
.r-tabs .r-tabs-accordion-title {display:block;}
.checkoutsteps {display: none !important;}

}

/* Responsive layout - Any screen at less than 480px - Most phones */
@media only screen 
and (min-width : 0px) 
and (max-width : 480px) {
.panel{padding:15px;margin-bottom:15px;}
#cartbilladdress, #cartshippingoptions, #cartshippingmethods, #cartextra, #cartlist, #payment, #addressinput{width:100%;float:none;}
#cartlist{padding:0;}
.checkoutextra .summaryleft,.checkoutextra .summaryright, .checkoutextra .checkoutdetails{float:none;min-width:210px;width:100%;}
#checkoutitemlist .detailscolumn .details{clear:left;}
#checkoutitemlist .detailscolumn .noimage{height:130px;margin-right:0;width:130px;}
#checkoutitemlist .detailscolumn .image{height:130px;margin-right:0;width:130px;}
.pricecolumn, .removecolumn{display:none;}
#chronopostrelaistemplate #relais{float:none;margin:0 0 25px;width:100%;}
#chronopostrelaistemplate #map-canvas{width:100%;height:320px;float:none;}
#checkoutselectaddress li{width:100%;margin:0 0 15px 0;min-width:240px;}
#orderadmin .leftside{margin:0 0 15px;width:100%;}
#orderadmin .rightside{margin:0;width:100%;}
#orderadmin .rightside .text-right{text-align:left !important;}
#orderadmin .panel{padding:15px;}
#payment .paymentlogo{float:none;margin:0 0 15px;}
#payment h1{font-size:22px;margin:15px;}
.paymentcomplete, .paymentfailed{width:100%;}
#imagelightbox-close{top:1.25em;right:1.25em;}
#imagelightbox-nav{bottom:1.25em;}
.currencyconverter, .ccinfo{display:table-row;}
.r-tabs .r-tabs-nav {display:none;}
.r-tabs .r-tabs-accordion-title {display:block;}
.checkoutsteps {display: none !important;}

}

/* Responsive layout - iPhones in portrait and landscape view
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
}*/

/* Responsive layout - iPads in portrait and landscape view
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
} */



/* Responsive Product List and Detail
@media only screen and (max-width: 1200px){
.productdetail .purchasing{width:100%}
}
@media only screen and (max-width: 380px){
.productdetail .images {float: none;margin-right: 0;width: 100% !important;}
.productdetail .gallery li {height: auto;width: 20%;}
}
 */


