/* Client Menu */
.clientmenu {background:#efefef;font-size:12px;color:#3f3030;margin-bottom:12px;}
.clientmenu:after {content:"";display:table;clear:both;}
.clientmenuheader {background:#dedede;padding:12px 24px;font-weight:bold;float:left;}
.clientmenu ul {counter-reset:li;list-style:none;padding:0;margin:0;}
.clientmenu li {position:relative;display:block;padding:6px 24px;margin:6px 0;float:left;color:#747474;border-right:#dedede solid 1px;}
.clientmenu li:last-child {border-right:none;}
.clientmenu li a {color:#747474;}
.clientmenu li a i {margin-right:10px;}
.clientmenu li.activetab a {color:#3f3030;}
.clientmenu li.activetab a i {color:#56a9df;}
.myorders {}
.myaddresses {}
.myprofile {}


/* Address Book */
#checkoutselectaddress{list-style:none;padding:0;margin:30px 0 0;}
#checkoutselectaddress li{background:none repeat scroll 0 0 #ffffff;border-radius:5px;box-shadow:1px 1px 6px #C9C9C9;box-sizing:border-box;float:left;margin:0 4% 3% 0;min-height:260px;min-width:270px;padding:50px 30px 30px;width:29%;position:relative;}
#checkoutselectaddress hr{margin:6px 0 4px;border-color:#dddddd;border-style:dashed;}
#checkoutselectaddress .addresstype{top:10px;color:#bbbbbb;position:absolute;right:10px;}
#checkoutselectaddress .addressbuttons{display:inline-block;vertical-align:-5px;}
#checkoutselectaddress a{color:#dddddd;}
#checkoutselectaddress a.editaddress:hover{color:#47BE27;}
#checkoutselectaddress a.deleteaddress:hover{color:#D33030;}
#addressinput .formrow input[type=text], .formrow input[type=email], .formrow select, .formrow textarea{box-sizing:border-box;width:100%;margin:0 0 15px;}
#addressinput{float:left;width:47%;margin-bottom:30px;min-width:240px;}
#addressinput .leftside{float:left;width:48%;}
#addressinput .rightside{float:right;width:48%;}
#addressinput H3{line-height:34px;margin:0 0 12px;padding:0;}
#addressinput H6{font-size:12px;font-weight:normal;margin:0 0 5px;}

/* Order Manager */
.ordersearch{margin-bottom:30px;overflow:hidden;}
.ordersearch div{float:left;margin:0 15px 0 0;}
.ordersearch .primarybutton, .ordersearch .secondarybutton{margin:0;padding:0 15px;width:auto;}
#orderadmin{clear:both;}
#orderadmin .address{margin-bottom:5px;}
#orderadmin .person{border-bottom:1px solid rgba(153, 153, 153, 0.34);}
.ordersearch input{margin-bottom:0;}
.orders .fa{color:#cccccc;}
.orders .fa-edit:hover{color:#47BE27;}
.orders .fa-repeat:hover{color:#1AA8E3;}
/* These 3 lines make the status dropdown show only text on the orders list and hides the select arrow in IE - To be removed when status has a token */
.orders select.aspNetDisabled.form-control{background-color:transparent;border:0 none;box-shadow:none;cursor:default;color:inherit;height:inherit;line-height:inherit;opacity:1;padding:0;margin:0;}
.orders select.aspNetDisabled.form-control option{padding-bottom:0;}
.orders select.aspNetDisabled.form-control::-ms-expand{display:none;}
.orders .dropdown-menu > li > a{display:inline-block;width:100%;}
/* The default DNN input styling is not applied to date inputs - fixed here but only for default skin */
.ordersearch input[type=date]{background:none repeat scroll 0 0 #f3f3f3;border:1px solid #bfbfbf;border-radius:0;box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.8), 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;color:#666666;font-size:13px;margin-bottom:20px;padding:9px;}

/* Profile Manager */
#profileinput .formrow input[type=text], .formrow input[type=email], .formrow select, .formrow textarea{box-sizing:border-box;width:100%;margin:0 0 15px;}
#profileinput{float:left;width:47%;margin-bottom:30px;min-width:240px;}
#profileinput .leftside{float:left;width:48%;}
#profileinput .rightside{float:right;width:48%;}
#profileinput H3{line-height:34px;margin:0 0 12px;padding:0;}
#profileinput H6{font-size:12px;font-weight:normal;margin:0 0 5px;}

/* cartlist Table - csstablegenerator.com */
.orders{border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0px;padding:0px;}
.orders th{vertical-align:top;border:none;border-bottom:2px solid #dddddd;text-align:left;padding:10px;font-size:inherit;font-family:inherit;font-weight:bold;color:inherit;}
.orders tr:last-child td:last-child{}
.orders tr:first-child td:first-child{}
.orders tr:first-child td:last-child{}
.orders tr:last-child td:first-child{}
.orders tr:hover td{background-color:#fff;}
.orders tr:nth-child(odd){}
.orders tr:nth-child(even){background-color:#F5F5F5;}
.orders td{vertical-align:top;border:none;border-bottom:1px solid #dddddd;text-align:left;padding:10px;font-size:inherit;font-family:inherit;font-weight:normal;color:inherit;}
.orders tr:last-child td{}
.orders tr td:last-child{}
.orders tr:last-child td:last-child{}
.orders tr:first-child td{}
.orders tr:first-child:hover td{}
.orders tr:first-child td:first-child{}
.orders tr:first-child td:last-child{}
#orderadmin .panel{padding:40px 60px;}
#orderadmin .leftside{float:left;width:57%;margin-right:6%;}
#orderadmin .rightside{float:left;width:37%;}
#orderadmin .billaddress{float:left;width:47%;margin-right:6%;line-height:160%;margin-bottom:15px;}
#orderadmin .shipaddress{float:left;width:47%;line-height:160%;margin-bottom:15px;min-width:145px;}
#orderadmin .storeaddress{float:left;width:100%;line-height:160%;}
/* These 3 lines make the status dropdown show only text on the orders list and hides the select arrow in IE - To be removed when status has a token */
#orderadmin select.aspNetDisabled.form-control{background-color:transparent;border:0 none;box-shadow:none;cursor:default;color:inherit;height:inherit;line-height:inherit;opacity:1;padding:0;margin:0;}
#orderadmin select.aspNetDisabled.form-control option{padding-bottom:0;}
#orderadmin select.aspNetDisabled.form-control::-ms-expand{display:none;}
#orderadmin .dropdown-menu > li > a{display:inline-block;width:100%;}

/* orderdetails Table - csstablegenerator.com */
.orderdetailitems{border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0px;padding:0px;}
.orderdetailitems th{vertical-align:top;border:none;border-bottom:2px solid #dddddd;text-align:left;padding:10px;font-size:inherit;font-family:inherit;font-weight:bold;color:inherit;}
.orderdetailitems tr:last-child td:last-child{}
.orderdetailitems tr:first-child td:first-child{}
.orderdetailitems tr:first-child td:last-child{}
.orderdetailitems tr:last-child td:first-child{}
.orderdetailitems tr:hover td{background-color:#F5F5F5;}
.orderdetailitems tr:nth-child(odd){}
.orderdetailitems tr:nth-child(even){}
.orderdetailitems td{vertical-align:top;border:none;border-bottom:1px solid #dddddd;text-align:left;padding:10px;font-size:inherit;font-family:inherit;font-weight:normal;color:inherit;}
.orderdetailitems tr:last-child td{}
.orderdetailitems tr td:last-child{}
.orderdetailitems tr:last-child td:last-child{}
.orderdetailitems tr:first-child td{}
.orderdetailitems tr:first-child:hover td{}
.orderdetailitems tr:first-child td:first-child{}
.orderdetailitems tr:first-child td:last-child{}
.orderdetailitems .active td{background-color:#f5f5f5;}