/*#Body {background:#FFF}Temporary white for DNN skin */
.dnnEditState .DnnModule{opacity:1 !important;transition:none !important;}/* Fix DNN */

/* Common */
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
.NBB{}



/* Product List - Go to Module settings for basic layout options */
a.entryurl{color:#333;display: block;}
.productlist{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow: hidden;}
.productlist, .product{list-style:none;padding:0;margin:0;}
.productlist > li{}
.productlist .product{background:#FFFFFF;}
.productlist .edit{padding:0;}
.productlist .edit i{position:absolute;left:4px;top:4px;font-size:19px;}
.productlist .edit i:hover{}
.productlist .product li{text-align:center;}
.productlist .product li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;}
.productlist .product li.noimage{font-size:100px;line-height:140px;text-align:center;}
.productlist .product li.noimage a:link{color:#efefef}
.productlist .product li.title{line-height:150%;font-weight: bold;padding:3px 0;}
.productlist .product .manufacturer{display:inline-block;margin-right:3px;}
.productlist .product .name{display:inline-block}
.productlist .product li.price{line-height: 150%;padding:3px 0;}
.productlist .product .price .retail{}
.productlist .product .price .old{text-decoration: line-through;}
.productlist .product .price .sale{}
.productlist .product .price .dealer{}
.productlist .product .price .zero{}


/* Pager */
.NBrightPagingDiv{background:#EDEDED;font-size: 18px;margin: 24px 0;text-align: center;}
.NBrightPagingDiv ul{list-style:none;margin:0;}
.NBrightPagingDiv ul li{display:inline-block;}
.NBrightPagingDiv a{display:inline-block;padding:6px 9px;}
.NBrightPagingDiv a:hover{color:#FFFFFF;background:#3B96B6}
.NBrightNormalPg{}
.NBrightSelectPg{}
.NBrightNextPg{}
.NBrightPrevPg{}


/* Product Detail */
.productdetail{overflow: hidden;}
.productdetail li{}
.productdetail .images .gallery, .productdetail .purchasing ul{list-style:none;padding:0;margin:0;}
.productdetail .images .noimage{color:#DDDDDD;font-size:230px;line-height:250px;text-align:center;}
.productdetail .images{float:left;margin-right:24px;}
.productdetail .image{margin-bottom:12px;}
.productdetail .image .zoomWrapper{margin:0 auto}
.productdetail .image img{}
.productdetail .gallery li{float:left;margin:0 12px 12px 0;}
.productdetail .gallery li.image5, .productdetail .gallery li.image9, .productdetail .gallery li.image13{margin-right:0;}
.productdetail .purchasing{background:#DEDEDE;float:left;overflow:hidden;padding:24px;width:400px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.productdetail .wishlist{float:right;}
.productdetail .wishlist .wishlistadd{}
.productdetail .wishlist .wishlistremove{color:#FF0076;}
.productdetail .title{font-size:25px;line-height: 150%;margin-bottom: 12px;}
.productdetail .title .manufacturer{margin-right:5px;float:left;}
.productdetail .title .name{display:inline-block;}
.productdetail li.price{font-size: 25px;margin-bottom: 12px;}
.productdetail .price .retail{}
.productdetail .price .old{font-size: 18px;}
.productdetail .price .old.strike{text-decoration: line-through;}
.productdetail .price .sale{font-size: 24px;color: #B8005C;}
.productdetail .price .dealer{font-size: 18px;}
.productdetail .price .zero{font-size: 18px;}
.productdetail .summary{margin-bottom:12px;}
.productdetail .options{margin-bottom:12px;}
.productdetail .optionname{}
.productdetail .optionvalue{}
.productdetail select{width:150px;margin-bottom:0;margin-right:8px;}
.productdetail .models{padding-bottom:12px;}
.productdetail .purchasing .models table td{padding:4px;}
.productdetail .purchasing .models table td label{margin-left: 6px;vertical-align: middle;}
.productdetail .buy{margin-bottom:0;}
.productdetail .buy input{margin-top: 2px;float:left;text-align:center;font-size:20px;font-weight:bold;height:30px;width:45px !important;margin-bottom:0;}
.productdetail .buy a:link,.productdetail .buy a:visited{font-size:28px;line-height:37px;margin-left:6px;}
.productdetail .buy a:active,.productdetail .buy a:hover{}
.productdetail .buy .label{margin-left:8px;}
.productdetail .return{float:right;}
.productdetail .buy .outofstock{color:#CB0505;display:inline-block;font-size:16px;line-height:47px;margin-left:6px;margin-top:3px;}
.productdetail .buy .holiday{color:#CB0505;display:inline-block;font-size:16px;line-height:47px;margin-left:6px;margin-top:3px;}
.productdetail .details{float:left;width:100%;clear:both;margin-bottom:24px;margin-top:24px}
.productdetail .relateditem{list-style: none outside none;margin: 0;padding: 0;background:#FFFFFF;}
.productdetail .relateditem li{text-align:center;}
.productdetail .relateditem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;}
.productdetail .relateditem li.noimage{font-size:80px;line-height:120px;text-align:center;}
.productdetail .relateditem li.noimage a:link{color:#efefef}
.productdetail .relateditem li.title{line-height:150%;font-weight:bold;padding:3px 0;font-size: 12px;}
.productdetail .relateditem .manufacturer{display:inline-block;margin-right:3px;}
.productdetail .relateditem .name{display:inline-block}
.productdetail .documents{}
.productdetail .documents li{margin-bottom:12px}
.productdetail .documentname{font-weight:bold}
.productdetail .documentdescription{display:block}
.productdetail .documentlink{}


/* Models Table - http://www.csstablegenerator.com */
.productdetail .details .models{margin:0px;padding:0px;width:100%;border:1px solid #c9c9c9;margin-bottom:24px}
.productdetail .details .models table{border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0px;padding:0px;}
.productdetail .details .models tr:nth-child(odd){ background-color:#f2f2f2;}
.productdetail .details .models tr:nth-child(even){ background-color:#ffffff;}
.productdetail .details .models td{vertical-align:middle;border:1px solid #CED2D6;border-width:0px 1px 1px 0px;text-align:left;padding:6px;font-family:inherit;font-weight:normal;}
.productdetail .details .models tr:last-child td{border-width:0px 1px 0px 0px;}
.productdetail .details .models tr td:last-child{border-width:0px 0px 1px 0px;}
.productdetail .details .models tr:last-child td:last-child{border-width:0px 0px 0px 0px;}
.productdetail .details .models th{background-color:#D8E1EB;border:0px solid #CED2D6;text-align:left;padding:6px;border-width:0px 0px 1px 1px;font-family:inherit;font-weight:normal;vertical-align: top;}
.productdetail .details .models tr:first-child td:first-child{border-width:0px 0px 1px 0px;}
.productdetail .details .models tr:first-child td:last-child{border-width:0px 0px 1px 1px;}
/* Responsive Models Table */
.stacktable{width:100%;}
.st-head-row{}
.st-head-row.st-head-row-main{}
.st-key{width:49%;text-align:right;padding-right:1%;}
.st-val{width:49%;padding-left:1%;}
.stacktable.large-only{display:table;}
.small-only{display:none;}
@media (max-width: 800px) {
.large-only{display:none;}
.stacktable.small-only{display:table;}
.productdetail .details .models td{font-size:11px;padding:3px}
}

/* Responsive Product List and Detail */
@media only screen and (max-width: 1200px){
.productdetail .purchasing{width:100%}
}
@media only screen and (max-width: 380px){
.productdetail .images {float: none;margin-right: 0;width: 100% !important;}
.productdetail .gallery li {height: auto;width: 20%;}
}


/* Responsive Lightbox */
@media only screen and (max-width: 600px){
#imagelightbox-close{top: 1.25em;right: 1.25em;}
#imagelightbox-nav{bottom: 1.25em;}
}

/* Detail Tabs */
.r-tabs .r-tabs-nav{margin:0;padding:0;}
.r-tabs .r-tabs-tab{display:inline-block;margin:0;list-style:none;}
.r-tabs .r-tabs-panel{padding:15px;display:none;}
.r-tabs .r-tabs-accordion-title{display:none;}
.r-tabs .r-tabs-panel.r-tabs-state-active{display:block;}
.r-tabs{position:relative;}
.r-tabs .r-tabs-nav{}
.r-tabs .r-tabs-nav .r-tabs-tab{position:relative;}
.r-tabs .r-tabs-nav .r-tabs-anchor{background:#DEDEDE;padding:10px 12px;display:inline-block;text-decoration:none;color:inherit;font-weight:bold;}
.r-tabs .r-tabs-nav .r-tabs-state-active{background-color:#fff;}
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor{color:inherit;background-color:#fff;}
.r-tabs .r-tabs-panel{background-color:#fff;}
.r-tabs .r-tabs-accordion-title .r-tabs-anchor{margin-bottom:1px;display:block;padding:10px;background-color:#DEDEDE;color:inherit;font-weight:bold;text-decoration:none;}
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor{background-color:#fff;color:inherit;}
/* Responsive Tabs Accordion breakpoint */
@media only screen and (max-width: 600px) {
.r-tabs .r-tabs-nav{display:none;}
.r-tabs .r-tabs-accordion-title{display:block;}
}

/* Debug mode message */
.debug {clear: both;background:#AB0000;color: #FFFFFF;font-weight: bold;padding: 2px;text-align: center;}
