/*#Body {background:#FFF}Temporary white for DNN skin */
.dnnEditState .DnnModule{opacity:1 !important;transition:none !important;}/* Fix DNN */

/* Common */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
.NBB{}


/* Drilldown category menu */
a.categoryurl{display: block;}
.drilldownlist{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow: hidden;}
.drilldownlist, .drilldownitem{list-style:none;padding:0;margin:0;}
.drilldownlist > li{}
.drilldownlist .drilldownitem{background:#FFFFFF;float:left}
.drilldownlist .drilldownitem li{text-align:center;}
.drilldownlist .drilldownitem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;}
.drilldownlist .drilldownitem li.image img{max-height:100%;max-width:100%}
.drilldownlist .drilldownitem li.noimage{display:table-cell;text-align:center;vertical-align:middle;width:inherit;font-size:100px;line-height:140px;opacity:0.1;color:#000000}
.drilldownlist .drilldownitem li.title{background:#000000;color:#FFFFFF;font-weight:normal;font-size:150%;line-height:150%;padding:6px 0;}

/* Treeview category menu */
.treemenu{max-width: 240px;}
.expander{display:none;text-align:right}
.nbrightbuy_catmenu, .nbrightbuy_catmenu ul, .nbrightbuy_catmenu li{list-style:none;}
.nbrightbuy_catmenu ul{padding:0;margin:0;}
.nbrightbuy_catmenu{max-width: 240px;padding: 0;margin:0px;}
.nbrightbuy_catmenu > li{margin:0;}
.nbrightbuy_catmenu > li li{margin:0;}
.nbrightbuy_catmenu a{display:block;outline:none;text-decoration:none;}
.nbrightbuy_catmenu li.open > a > span{transform: rotate(180deg);}
.nbrightbuy_catmenu a:hover, .nbrightbuy_catmenu li.active > a{}
.nbrightbuy_catmenu > li.active > a{}
.nbrightbuy_catmenu li a{padding:0}
.nbrightbuy_catmenu a.level0{margin-bottom: 1px;padding-left: 9px;font-weight: bold;font-size: 15px;line-height: 34px;background:#C2C2C2;color:#FFFFFF;}/* Root */
.nbrightbuy_catmenu a.level0:hover{}/* Hover */
.nbrightbuy_catmenu a.level0:hover span{color:#FFFFFF;}/* Caret */
.nbrightbuy_catmenu a.level1{margin-bottom: 1px;padding-left: 18px;font-weight: normal;font-size: 12px;line-height: 32px;background:#FFFFFF;color:#444444;}/* Sub */
.nbrightbuy_catmenu a.level1:hover{color:#333333;}/* Hover */
.nbrightbuy_catmenu a.level1:hover span{color:#646262;}/* Caret hover */
.nbrightbuy_catmenu a.level2{margin-bottom: 1px;padding-left: 36px;font-weight: normal;font-size: 12px;line-height: 32px;background:#FFFFFF;color:#444444;}/* Sub Sub */
.nbrightbuy_catmenu a.level2:hover span{color:#333333;}/* Caret Hover */
.nbrightbuy_catmenu a.level3{margin-bottom: 1px;padding-left: 36px;font-weight: normal;font-size: 12px;line-height: 32px;background:#FFFFFF;color:#444444;}/* Sub Sub Sub */
.nbrightbuy_catmenu a.level3:hover span{color:#333333;}/* Caret Hover */
.nbrightbuy_catmenu li > a > span{float: right;font-size: 17px;text-align: center;width: 32px;}/* Caret */
.nbrightbuy_catmenu li > a:hover > span{color:#C2C2C2;}
.nbrightbuy_catmenu li.active > a:before{content:'\25b6\a0';}/* http://mcdlr.com/8/ */

/* Breadcrumbs */
.categorybreadcrumbs{text-align:left;margin-bottom: 14px;}
.categorybreadcrumbs ul{list-style:none;display:inline-table;margin:0;}
.categorybreadcrumbs ul li{display:inline;}
.categorybreadcrumbs ul li a{background:none repeat scroll 0 0 #C2C2C2;color:#FFFFFF;display:block;float:left;font-size:12px;font-weight:bold;height:28px;line-height:28px;padding:0 14px 0 28px;position:relative;text-align:center;text-decoration:none;margin-right:2px;}
.categorybreadcrumbs ul li a:after{border-bottom:14px solid transparent;border-left:14px solid #C2C2C2;border-top:14px solid transparent;content:"";position:absolute;right:-14px;top:0;z-index:1;}
.categorybreadcrumbs ul li a:before{border-bottom:14px solid transparent;border-left:14px solid #EFEFEF;border-top:14px solid transparent;content:"";left:0;position:absolute;top:0;}
.categorybreadcrumbs ul li:first-child a{}
.categorybreadcrumbs ul li:first-child a:before{display:none;}
.categorybreadcrumbs ul li:last-child a{}
.categorybreadcrumbs ul li:last-child a:after{}
.categorybreadcrumbs ul li a:hover{background:#000000;color:#ffffff;}
.categorybreadcrumbs ul li a:hover:after{border-left-color:#000000;color:#ffffff;}

/* Product List - Go to Module settings for basic layout options */
a.entryurl{color:#333;display: block;}
.productlist{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;overflow: hidden;clear:both}
.productlist, .product{list-style:none;padding:0;margin:0;}
.productlist > li{}
.productlist .product{background:#FFFFFF;float:left}
.productlist .edit{padding:0;}
.productlist .edit i{position:absolute;left:4px;top:4px;font-size:19px;}
.productlist .edit i:hover{}
.productlist .product li{text-align:center;}
.productlist .product li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;}
.productlist .product li.noimage{display:table-cell;text-align:center;vertical-align:middle;width:inherit;font-size:100px;line-height:140px;opacity:0.1;}
.productlist .product li.noimage a:link{color:#efefef}
.productlist .product li.title{line-height:150%;font-weight: bold;padding:3px 0;}
.productlist .product .manufacturer{display:inline-block;margin-right:3px;}
.productlist .product .name{display:inline-block}
.productlist .product li.price{line-height: 150%;padding:3px 0;}
.productlist .product .price .retail{text-transform: capitalize;}
.productlist .product .price .old{text-decoration: line-through;}
.productlist .product .price .sale{text-transform: capitalize;}
.productlist .product .price .dealer{text-transform: capitalize;}
.productlist .product .price .zero{text-transform: capitalize;}
.productlist .product .outofstockflag{background:#395876;color:#FFFFFF;font-size:12px;font-weight:bold;right:0;line-height:24px;padding:0 9px;position:absolute;top:5%;}
.productlist .product .outofstockflag:after{border-color:#395876 #395876 #395876 transparent;border-style:solid;border-width:12px 7px;content:" ";left:-7px;position:absolute;}
.productlist .product .onsaleflag{background:#FF9A17;color:#FFFFFF;font-size:12px;font-weight:bold;right:0;line-height:24px;padding:0 9px;position:absolute;top:5%;}
.productlist .product .onsaleflag:after{border-color:#FF9A17 #FF9A17 #FF9A17 transparent;border-style:solid;border-width:12px 7px;content:" ";left:-7px;position:absolute;}


/* Pager */
.NBrightPagingDiv{font-size:18px;margin:24px 0;text-align:left;}
.NBrightPagingDiv ul{list-style:none;margin:0;}
.NBrightPagingDiv ul li{display:inline-block;}
.NBrightPagingDiv a{background:#F2F2F2;border:1px solid #DDDDDD;color:#777777;display:inline-block;font-size:14px;margin-right:4px;padding:6px 10px;}
.NBrightPagingDiv a:hover{color:#FFFFFF;background:#3B96B6}
.NBrightNormalPg a{}
.NBrightSelectPg a{background:#FFFFFF}
.NBrightNextPg a{}
.NBrightPrevPg a{}


/* Product Detail */
.productdetail{overflow: hidden;}
.productdetail li{}
.productdetail .images .gallery, .productdetail .purchasing ul{list-style:none;padding:0;margin:0;}
.productdetail .images .noimage{color:#DDDDDD;font-size:230px;line-height:250px;text-align:center;}
.productdetail .images{float:left;margin-right:24px;}
.productdetail .image{margin-bottom:12px;}
.productdetail .image .zoomWrapper{margin:0 auto}
.productdetail .image img{}
.productdetail .gallery li img{float:left;margin:0 9px 9px 0;}
.productdetail .gallery li.image5, .productdetail .gallery li.image9, .productdetail .gallery li.image13{margin-right:0;}
.productdetail .purchasing{background:#DEDEDE;float:left;overflow:hidden;padding:24px;width:400px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.productdetail .wishlist{float:right;}
.productdetail .wishlist .wishlistadd{}
.productdetail .wishlist .wishlistremove{color:#FF0076;}
.productdetail .title{font-size:25px;line-height: 150%;margin-bottom: 12px;}
.productdetail .title .manufacturer{margin-right:5px;float:left;}
.productdetail .title .name{display:inline-block;}
.productdetail li.price{font-size: 25px;margin-bottom: 12px;}
.productdetail .price .retail{}
.productdetail .price .old{font-size: 18px;}
.productdetail .price .old.strike{text-decoration: line-through;}
.productdetail .price .sale{font-size: 24px;text-transform: capitalize;}
.productdetail .price .dealer{font-size: 18px;text-transform: capitalize;}
.productdetail .price .zero{font-size: 18px;text-transform: capitalize;}
.productdetail .summary{margin-bottom:24px;}
.productdetail .options{margin-bottom:12px;}
.productdetail .optionname{}
.productdetail .optionvalue{}
.productdetail select{width:150px;margin-bottom:0;margin-right:8px;}
.productdetail .models{padding-bottom:12px;}
.productdetail .purchasing .models table td{padding:4px;}
.productdetail .purchasing .models table td label{margin-left: 6px;vertical-align: middle;}
.productdetail .buy{margin-bottom:0;}
.productdetail .buy input{margin-top: 2px;float:left;text-align:center;font-size:20px;font-weight:bold;height:30px;width:45px !important;margin-bottom:0;}
.productdetail .buy a,.productdetail .buy a:link,.productdetail .buy a:visited{cursor:pointer;font-size:28px;line-height:37px;margin-left:6px;}
.productdetail .buy a:active,.productdetail .buy a:hover{}
.productdetail .buy .label{margin-left:8px;}
.productdetail .return{float:right;}
.productdetail .buy .outofstock{color:#CB0505;display:inline-block;font-size:16px;line-height:47px;margin-left:6px;margin-top:3px;}
.productdetail .buy .holiday{color:#CB0505;display:inline-block;font-size:16px;line-height:47px;margin-left:6px;margin-top:3px;}
.productdetail .details{float:left;width:100%;clear:both;margin-bottom:24px;margin-top:24px}
.productdetail #tabsoff{margin-bottom: 48px;}
.productdetail #tabsoff h3{margin-bottom: 16px;}
.productdetail .sharingwidget{margin-top: 24px;}

/* Minicart */
.minicart{background:#041839;margin-bottom: 24px;max-width: 240px;}
.minicart .checkoutbuttonleft, .minicart .checkoutbuttonright{color:#FFFFFF;display:inline-block;font-size:16px;line-height:35px;padding:0 16px;}
.minicart .checkoutbuttonright{background:#AE0051;font-weight:bold;float: right;}
.minicart .checkoutbuttonright:hover{background:#FF0076;}

/* Document Downloads */
.productdetail .downloadableproduct{margin-top:12px !important;margin-left:24px !important}
.productdetail .documents{}
.productdetail .documents li{margin-bottom:12px}
.productdetail .documentname{font-weight:bold}
.productdetail .documentdescription{display:block}
.productdetail .documentlink{}

/* Currency Convertor */
.ccwrapper{border-collapse:collapse;display:table;table-layout:fixed;}
.ccinner{display:table-row;}
.currencyconverter, .ccinfo{display:table-cell;vertical-align:top;}
.currencyconverter,.currencyconverter iframe{width:200px;}
.ccinfo{padding-right:24px;width:100%;}
/* Responsive Currency Convertor breakpoint */
@media only screen and (max-width: 600px) {
.currencyconverter, .ccinfo {display: table-row;}
}

/* Models Table - www.csstablegenerator.com */
.productdetail .details .models{margin:0px;padding:0px;width:100%;margin-bottom:24px}
.productdetail .details .models table{border-collapse:collapse;border-spacing:0;width:100%;height:100%;margin:0px;padding:0px;}
.productdetail .details .models tr:nth-child(odd){background-color:#f2f2f2;}
.productdetail .details .models tr:nth-child(even){background-color:#ffffff;}
.productdetail .details .models td{vertical-align:middle;text-align:center;padding:6px;font-family:inherit;font-weight:normal;}
.productdetail .details .models tr:last-child td{}
.productdetail .details .models tr td:last-child{}
.productdetail .details .models tr:last-child td:last-child{}
.productdetail .details .models th{background-color:#D8E1EB;text-align:center;padding:6px;font-family:inherit;font-weight:normal;vertical-align: top;}
.productdetail .details .models tr:first-child td:first-child{}
.productdetail .details .models tr:first-child td:last-child{}

/* Responsive Models Table 
.stacktable{width:100%;}
.st-head-row{}
.st-head-row.st-head-row-main{}
.st-key{width:49%;text-align:right;padding-right:1%;}
.st-val{width:49%;padding-left:1%;}
.stacktable.large-only{display:table;}
.small-only{display:none;}
@media (max-width: 800px) {
.large-only{display:none;}
.stacktable.small-only{display:table;}
.productdetail .details .models td{font-size:12px;padding:3px}
.productdetail .details .models td{text-align:left;}
.productdetail .details .models th{text-align:left;}
}*/

/* Related Items */
.productdetail .relateditem{list-style: none outside none;margin: 0;padding: 0;background:#FFFFFF;float:left;}
.productdetail .relateditem li{text-align:center;}
.productdetail .relateditem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;}
.productdetail .relateditem li.noimage{font-size:80px;line-height:120px;text-align:center;}
.productdetail .relateditem li.noimage a:link{color:#efefef}
.productdetail .relateditem li.title{line-height:150%;font-weight:bold;padding:3px 0;font-size: 12px;}
.productdetail .relateditem .manufacturer{display:inline-block;margin-right:3px;}
.productdetail .relateditem .name{display:inline-block}

/* Responsive Product List and Detail */
@media only screen and (max-width: 1200px){
.productdetail .purchasing{width:100%}
}
@media only screen and (max-width: 380px){
.productdetail .images {float: none;margin-right: 0;width: 100% !important;}
.productdetail .gallery li {height: auto;width: 20%;}
}


/* Responsive Lightbox */
@media only screen and (max-width: 600px){
#imagelightbox-close{top: 1.25em;right: 1.25em;}
#imagelightbox-nav{bottom: 1.25em;}
}

/* Detail Tabs */
.r-tabs .r-tabs-nav{margin:0;padding:0;}
.r-tabs .r-tabs-tab{display:inline-block;margin:0;list-style:none;}
.r-tabs .r-tabs-panel{padding:15px;display:none;}
.r-tabs .r-tabs-accordion-title{display:none;}
.r-tabs .r-tabs-panel.r-tabs-state-active{display:block;}
.r-tabs{position:relative;}
.r-tabs .r-tabs-nav{}
.r-tabs .r-tabs-nav .r-tabs-tab{position:relative;}
.r-tabs .r-tabs-nav .r-tabs-anchor{background:#DEDEDE;padding:10px 12px;display:inline-block;text-decoration:none;color:inherit;font-weight:bold;}
.r-tabs .r-tabs-nav .r-tabs-state-active{background-color:#fff;}
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor{color:inherit;background-color:#fff;}
.r-tabs .r-tabs-panel{background-color:#fff;}
.r-tabs .r-tabs-accordion-title .r-tabs-anchor{margin-bottom:1px;display:block;padding:10px;background-color:#DEDEDE;color:inherit;font-weight:bold;text-decoration:none;}
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor{background-color:#fff;color:inherit;}
/* Responsive Tabs Accordion breakpoint */
@media only screen and (max-width: 600px) {
.r-tabs .r-tabs-nav{display:none;}
.r-tabs .r-tabs-accordion-title{display:block;}
}

/* Debug mode message */
.debug {clear: both;background:#AB0000;color: #FFFFFF;font-weight: bold;padding: 2px;text-align: center;}

/* Advanced Search */
.advancedsearch {max-width: 240px;list-style:none;padding:10px;margin:0;box-sizing: border-box;background:#FFFFFF;}
.advancedsearch input[type=text]{margin-bottom:0;box-sizing:border-box;}
.advancedsearch select{margin-bottom:0;box-sizing:border-box;}
.advancedsearch li{margin-bottom:18px;}
.advancedsearch h5{margin-bottom:18px;}
.advancedsearch h6{margin-bottom:6px;}
.advancedsearch .filterlabel{color: #777777;font-size: 12px;display:block;margin:6px 0 18px}
.advancedsearch .searchtext{}
.advancedsearch .searchtext input[type=text]{width:100%}
.advancedsearch .pricerange{}
.advancedsearch .pricerange input[type=text]{width: 50px;}
.advancedsearch .pricerange .rangemin{text-align:right}
.advancedsearch .pricerange .rangemax{}
.advancedsearch .pricerange .rangeseperator{display: inline-block;margin: 0 7px;}
.advancedsearch .pricerange #pricerangeslider{box-sizing: border-box;margin:12px 7px 0;}
.advancedsearch .orderby{}
.advancedsearch .orderby select{width:100%}
.advancedsearch .stock{padding-left: 3px;}
.advancedsearch .manufacturer{}
.advancedsearch .attributes{}
.advancedsearch .promotions{}
.advancedsearch .buttons{}
.advancedsearch .buttons a:link{margin-right:6px}
.advancedsearch .processing{}
.advancedsearch .processing .fa{color:#68ABE1;vertical-align:middle;}

/* Default buttons */
.NBB .primarybutton{background:#1AA8E3;color: #FFFFFF;display: inline-block;font-weight: bold;line-height: 35px;padding: 0;margin:10px 10px 10px 0;max-width: 120px;text-align: center;width: 45%;border: medium none;}
.NBB .primarybutton:hover{background:#23BAF5;}
.NBB .secondarybutton{background:#C2C2C2;color: #FFFFFF;display: inline-block;font-weight: bold;line-height: 35px;padding: 0;margin:10px 10px 10px 0;max-width: 120px;text-align: center;width: 45%;border: medium none;}
.NBB .secondarybutton:hover{background:#777777}
.NBB .highlightbutton{}
.NBB .highlightbutton:hover{}


/* Fixes */
.MiniCartWrapper{padding:0 !important}

/* Checkout */
#cartdetails H3 {line-height: 34px;margin: 0 0 12px;padding:0;}
#cartdetails H6 {font-size: 12px;font-weight: normal;margin: 0 0 5px;}
#cartdetails .formrow{clear:both;}
#cartlist .formrow{clear:both;text-align:right;}
#cartdetails .formrow input[type=text], .formrow input[type=email], .formrow select, .formrow textarea{box-sizing:border-box;width:100%;margin: 0 0 15px;}
#cartdetails .leftside{float:left;width: 48%;}
#cartdetails .rightside{float:right;width: 48%;}
#shippingoptions{margin-bottom:10px;}
#shippingoptions input{vertical-align: -2px;margin: 0 0 0 10px;}
#shippingoptions label{line-height: 22px;margin: 0 0 0 6px;}
.checkoutship input{vertical-align: -2px;margin: 0 0 0 10px;}
.checkoutship label{line-height: 22px;margin: 0 0 0 6px;}
#checkoutdetails .primarybutton{margin-right:0}
.checkoutextra .summaryleft{float:left;width:43%;min-width:240px;overflow:hidden;margin-bottom:25px;}
.checkoutextra .checkoutdetails {float:right;min-width:240px;width:45%;}
.summaryleft .newscheckbox{padding-top:26px;}
.checkoutdetails .totals ul{list-style:none outside none;margin:0;padding:0 0 15px;display:inline-block;}
.checkoutdetails .totals ul li{font-size:15px;line-height:180%;}
.checkoutdetails .totals ul li span{display:inline-block;width:140px;}
.checkoutdetails .totals ul li.total{border-top:2px solid #bbbbbb;font-size:20px}
.checkoutdetails .submission{margin-top:15px;}
.productdetail .purchasing{}
#cartdetails{overflow:hidden;padding:1%;}/* padding for panel shadows */
#cartbilladdress, #cartshippingoptions, #cartshippingmethods, #cartextra, #cartlist, #payment{overflow:hidden;box-sizing:border-box;}
#cartbilladdress{float:left;width:47%;margin-bottom:30px;min-width:240px;}
#cartshippingoptions{float:right;width:47%;margin-bottom:30px;min-width:240px;}
#cartshippingmethods{clear:both;width:100%;margin-bottom:30px;}
#cartextra{clear:both;width:100%;margin-bottom:30px;}
#cartlist{clear:both;width:100%;margin-bottom:30px;overflow:visible}
#cartlist .secondarybutton{margin-right:0}
#cartbilladdress, #cartshippingoptions, #cartshippingmethods, #cartextra, #payment{background:#ffffff;border-radius:5px;box-shadow:1px 1px 6px rgba(159, 159, 159, 0.56);padding:22px 30px 26px;}/* Checkout panels */
#cartdetails .radiobuttonlist .dnnRadiobutton{margin:0 0 9px}
#cartdetails .radiobuttonlist .dnnBoxLabel{margin-right:15px}

/* cartlist Table - www.csstablegenerator.com */
#cartlist{margin-bottom:24px;}
#cartlist table {margin:0px;padding:0px;width:100%;border-collapse: collapse;border-spacing:0;width:100%}
#cartlist table tr:nth-child(odd){background-color:#f2f2f2;}
#cartlist table tr:nth-child(even){background-color:#ffffff;}
#cartlist table td{vertical-align:middle;text-align:center;padding:6px;font-family:inherit;font-weight:normal;border: 1px solid #DDDDDD;padding:10px;text-align:center}
#cartlist table tr:last-child td{}
#cartlist table tr td:last-child{}
#cartlist table tr:last-child td:last-child{}
#cartlist table th{background:#777777;color: #FFFFFF;line-height: 34px;padding:0}
#cartlist table tr:first-child td:first-child{}
#cartlist table tr:first-child td:last-child{}
/* cartlist items */
#cartlist .detailscolumn .noimage{float:left;height:100px;margin-right:12px;width:100px;}
#cartlist .detailscolumn .image{float:left;height:100px;margin-right:12px;width:100px;}
#cartlist .detailscolumn img{width:100%;height:100%}
#cartlist .detailscolumn .details{overflow:hidden}
#cartlist th.detailscolumn{padding-left:12px;}
#cartlist .detailscolumn{text-align: left;}
#cartlist .detailscolumn .title{font-weight:bold}
#cartlist .cartlistoptions{clear:both;}
#cartlist .quantity{box-shadow:none;text-align:center;width:33px;}
#cartlist .ui-spinner{font-size:17px;}
#cartlist .deleteitem{}
#cartlist .fa-times-circle{color:#666}
#cartlist .fa-times-circle:hover {color: #C80000;}

/* Payment providers */
#payment{width:66%;margin:0 auto}

/* Chronopost Shipping provider */
#chronoposttemplate .radiobuttonlist{margin:10px 0 15px;display:block;}
#chronopostrelaistemplate #relais{float:left;margin:0 5% 0 0;min-width:240px;width:45%;list-style:none outside none;}
#chronopostrelaistemplate #relais a {border-radius:4px;color:inherit;display:block;margin-bottom:5px;padding:5px;text-transform:capitalize;}
#chronopostrelaistemplate #relais a:hover{background:#efefef;color:inherit}
#chronopostrelaistemplate #relais a:active,.relaisselected a:hover,.relaisselected a{background:#f75448 !important;;color:#ffffff !important;}
#chronopostrelaistemplate #map-canvas{position:relative;width:49%;height:400px;margin-right:0;float:left;min-width:240px;border-radius:7px;border:1px solid #bbbbbb;}


/* Any screen at less than 768px ----------- */
@media only screen 
and (min-width : 481px) 
and (max-width : 768px) {
#cartbilladdress, #cartshippingoptions, #cartshippingmethods, #cartextra, #payment{min-width:240px;width:100%;padding: 30px 60px;float:none}
.checkoutextra .summaryleft,.checkoutextra .checkoutdetails{width:100%;}
#checkoutitemlist .detailscolumn .details{clear:left}
#checkoutitemlist .detailscolumn .noimage{height:160px;margin-right:0;width:160px;}
#checkoutitemlist .detailscolumn .image{height:160px;margin-right:0;width:160px;}
#checkoutitemlist .detailscolumn .image {height:160px;width:160px;}
#chronopostrelaistemplate #relais{float:none;margin:0 0 25px;width:100%;}
#chronopostrelaistemplate #map-canvas{width:100%;height:400px;float:none}
}

/* Any screen at less than 480px ----------- */
@media only screen 
and (min-width : 0px) 
and (max-width : 480px) {
#cartbilladdress, #cartshippingoptions, #cartshippingmethods, #cartextra, #cartlist, #payment{width:100%;padding:15px;margin-bottom:15px;float:none}
#cartlist{padding:0}
.checkoutextra .summaryleft,.checkoutextra .checkoutdetails{float:none;min-width:210px;width:100%;}
#checkoutitemlist .detailscolumn .details{clear:left}
#checkoutitemlist .detailscolumn .noimage{height:130px;margin-right:0;width:130px;}
#checkoutitemlist .detailscolumn .image{height:130px;margin-right:0;width:130px;}
.pricecolumn,.removecolumn{display:none}
#chronopostrelaistemplate #relais{float:none;margin:0 0 25px;width:100%;}
#chronopostrelaistemplate #map-canvas{width:100%;height:320px;float:none}
}

/* Smartphones (portrait and landscape) ----------- 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
}*/

/* iPads (portrait and landscape) -----------
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
} */
