<link href="/DesktopModules/NBright/NBrightBuy/Themes/ClassicRazor/css/NBS_Checkout.css" rel="stylesheet">

<div id="loader" class="processing" style="display:none"><i class="fa fa-cog fa-spin fa-4x"></i></div>

