
/* Common */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
.NBB{}


/* Overrides for DNN-included Bootstrap styles */
.nav {margin-left:0;}
a, a:visited {color:#428BCA}
.dnnInputFileWrapper{font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode","Segoe UI",Verdana,sans-serif;font-size:12px;line-height:23px;padding:inherit;text-shadow:none;margin-right: 12px !important;}

/* Fixes */
.checkbox input[type=checkbox]{margin-left: 0;}

.fa {margin-right: 6px;}


/* Adjustments to theme */
.no-box-header{display:none}/* Hide panel head section */
.orderdetailitems th{text-transform:uppercase}
.orderdetail .billaddress b,.orderdetail .shipaddress b{text-transform:uppercase}
.orderdetail .storeaddress{}
.centered{text-align:center}
#logo a{background: none;}/* Hide devoops logo*/
.top-panel-right{display: none;}/* Hide top right menu section */
a.btn-primary {color:#FFFFFF}/* When buttons are inside anchors */
a.btn-default {color:#929292}
#loader{color:#FFFFFF;position:absolute;right:3px;top:6px;z-index: 9999;}/* Loading graphic */
.nowrap{white-space:nowrap}

/* Productlist items */
.productadminlist .productlistitem{list-style: none outside none;margin: 0;padding: 0;background:#FFFFFF;float:left}
.productadminlist .productlistitem li{text-align:center;}
.productadminlist .productlistitem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;}
.productadminlist .productlistitem li.noimage{font-size:80px;line-height:120px;text-align:center;}
.productadminlist .productlistitem li.title{line-height:150%;font-weight:bold;padding:3px 0;font-size: 12px;height:40px;overflow:hidden}
.productadminlist .productlistitem .edititem{top:0;left:0;position:absolute;}

/* Pager */
.NBrightPagingDiv{font-size:18px;margin:24px 0;text-align:left;}
.NBrightPagingDiv ul{list-style:none;margin:0;}
.NBrightPagingDiv ul li{display:inline-block;}
.NBrightPagingDiv a{background:#F2F2F2;border:1px solid #DDDDDD;color:#777777;display:inline-block;font-size:14px;margin-right:4px;padding:6px 10px;text-decoration: none;cursor: pointer;}
.NBrightPagingDiv a:hover{color:#FFFFFF;background:#3B96B6}
.NBrightNormalPg a{}
.NBrightSelectPg a{background:#FFFFFF}
.NBrightNextPg a{}
.NBrightPrevPg a{}

/* Product Editor */
.sortelementUp,.sortelementDown{cursor:pointer;position:absolute;display:block;color:#DDDDDD;z-index:1;}
.sortelementUp{top:0;right:0}
.sortelementDown{bottom:0;right:0}

.editdetails{}

.editmodels{}
.editmodels #productmodels{list-style: none outside none;margin: 0;padding: 0;}
.editmodels .modelitem{background:#FFFFFF;border: 1px dotted #D6D6D6;overflow: hidden;padding: 15px 0;position:relative}

.editoptions{}
.editoptions #productoptions,.editoptions #productoptionvalues{list-style: none outside none;margin: 0;padding: 0;}
.editoptions #productoptions{margin-right:12px}
.editoptions .optionitem,.editoptions .optionvalueitem{background:#FFFFFF;border: 1px dotted #D6D6D6;overflow: hidden;padding: 15px 0;position:relative}
.editoptions .optionitem{opacity:0.4;transition:all 0.4s ease-in-out 0s;}
.editoptions .optionitem:hover{opacity:1}
.editoptions .optionitem.selected{opacity:1}


.editimages{}
.editimages #productimages{list-style: none outside none;margin: 0;padding: 0;}
.editimages .imageitem{background:#FFFFFF;border: 1px dotted #D6D6D6;overflow: hidden;padding: 15px 0;margin:0 15px 15px 0;position:relative;float:left}
.editimages .imagewrapper{height:200px;line-height:200px;text-align:center;width:230px;margin-bottom:15px;}
.editimages .imagewrapper img{max-height:100%}

.editdocuments{}
.editdocuments #productdocs{list-style: none outside none;margin: 0;padding: 0;}
.editdocuments .docitem{background:#FFFFFF;border: 1px dotted #D6D6D6;overflow: hidden;padding: 15px 0;position:relative}


.editcategories{}
.editgroups{}
.editrelated{}
















