
/* Common */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
.NBB{}


/* Overrides for DNN-included Bootstrap styles */
.nav {margin-left:0;}
a, a:visited {color:#428BCA}
.dnnInputFileWrapper{font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode","Segoe UI",Verdana,sans-serif;font-size:12px;line-height:23px;padding:inherit;text-shadow:none;margin-right: 12px !important;}

/* Fixes */
.checkbox input[type=checkbox]{margin-left: 0;}

.fa {margin-right: 6px;}


/* Adjustments to theme */
#sidebar-left{position:fixed}#content{float:right}/* Fix menu in place */
.no-box-header{display:none}/* Hide panel head section */
.orderdetailitems th{text-transform:uppercase}
.orderdetail .billaddress b,.orderdetail .shipaddress b{text-transform:uppercase}
.orderdetail .storeaddress{}
.centered{text-align:center}
#logo a{background: none;}/* Hide devoops logo*/
/* .top-panel-right{display: none;}Hide top right menu section */
a.btn-primary,a.btn-success{color:#FFFFFF}/* When buttons are inside anchors */
a.btn-default {color:#929292}
#loader{color:#FFFFFF;position:absolute;right:3px;top:6px;z-index: 9999;}/* Loading graphic */
.text-nowrap{white-space:nowrap;}/* Bootstrap nowrap is missing? */
.nowrap{white-space:nowrap}/* remove this one */
.btn{padding: 0 15px;margin-right:10px}/* default buttons */
.actionbuttonwrapper{height:50px;padding-top:12px;margin-left:30px;white-space:nowrap;}
span.dnnInputFileWrapper{padding: 0 15px;}/* fix for file upload buttons */
.bg-primary,.bg-success,.bg-info,.bg-warning,.bg-danger {margin-top: 15px;padding: 15px;font-size: 21px;font-weight: bold;}

/* Language selector */
.editlanguage{list-style: none outside none;margin: 0;padding: 0;}
.editlanguage > li{float:right}
.editlanguage li img{margin-left:10px}

/* Productlist items */
.productadminlist{list-style: none outside none;margin: 0;padding: 0;}
.productadminlist > li{float:left}
.productadminlist .productlistitem{list-style: none outside none;margin: 0;padding: 0;background:#FFFFFF;width:120px;height:160px;margin-bottom:6px;position: relative}
.productadminlist .productlistitem li{text-align:center;}
.productadminlist .productlistitem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;width:120px;height:120px}
.productadminlist .productlistitem li.noimage{font-size:80px;line-height:120px;text-align:center;}
.productadminlist .productlistitem li.title{line-height:150%;font-weight:bold;padding:3px 0;font-size: 12px;height:40px;overflow:hidden}
.productadminlist .productlistitem .edititem{top:0;right:0;position:absolute;}

/* Pager */
.NBrightPagingDiv{}
.NBrightPagingDiv ul{font-size:18px;margin:24px 0;text-align:left;list-style:none;}
.NBrightPagingDiv ul li{display:inline-block;}
.NBrightPagingDiv a{background:#F2F2F2;border:1px solid #DDDDDD;color:#777777;display:inline-block;font-size:14px;margin-right:4px;padding:6px 10px;text-decoration: none;cursor: pointer;}
.NBrightPagingDiv a:hover{color:#FFFFFF;background:#3B96B6}
.NBrightNormalPg a{}
.NBrightSelectPg a{background:#FFFFFF}
.NBrightNextPg a{}
.NBrightPrevPg a{}
.NBrightPagingDiv ul > a.cmdPg{display:none !important}/* hide pager ears when empty */

/* Product Editor */
.sortelementUp,.sortelementDown{cursor:pointer;position:absolute;display:block;color:#DDDDDD;z-index:1;}
.sortelementUp{top:0;right:0}
.sortelementDown{bottom:0;right:0}
.editdetails{}
.editmodels{}
.editmodels #productmodels{list-style: none outside none;margin: 0;padding: 0;}
.editmodels .modelitem{background:#FFFFFF;border: 1px dotted #D6D6D6;overflow: hidden;padding: 15px 0;position:relative}
.editoptions{}
.editoptions #productoptions,.editoptions #productoptionvalues{list-style: none outside none;margin: 0;padding: 0;}
.editoptions #productoptions{margin-right:12px}
.editoptions .optionitem,.editoptions .optionvalueitem{background:#FFFFFF;border: 1px dotted #E3E3E3;overflow: hidden;padding: 15px 0;position:relative}
.editoptions .optionitem{opacity:0.4;transition:all 0.4s ease-in-out 0s;}
.editoptions .optionitem:hover{opacity:1}
.editoptions .optionitem.selected{opacity:1}
.editimages{}
.editimages #productimages{list-style: none outside none;margin: 0;padding: 0;}
.editimages .imageitem{background:#FFFFFF;border: 1px dotted #D6D6D6;overflow: hidden;padding: 15px 0;margin:0 15px 15px 0;position:relative;float:left}
.editimages .imagewrapper{height:200px;line-height:200px;text-align:center;width:230px;margin-bottom:15px;}
.editimages .imagewrapper img{max-height:100%}
.editimages .imageitem .sortelementUp{top:4px;left:-6px}
.editimages .imageitem .sortelementDown{top:4px;right:-6px}
.editdocuments{}
.editdocuments #productdocs{list-style: none outside none;margin: 0;padding: 0;}
.editdocuments .docitem{background:#FFFFFF;border: 1px dotted #D6D6D6;overflow: hidden;padding: 15px 0;position:relative}
.editcategories{}
.editcategories .selectcategory{height:300px}
.editcategories .removecategory.btn{margin-bottom:0}
.editproperties{}
.editproperties .selectgroupcategory option:first-child{display:none} /* Hides first property from value listbox */
.editproperties .selectgroupcategory{height:260px}
.editproperties .removecategory.btn{margin-bottom:0}
.editrelated{}
.editrelated .productrelated{list-style: none outside none;margin: 0;padding: 0;}
.editrelated .productrelated > li{float:left}
.editrelated .relatedlistitem{list-style: none outside none;margin: 0 6px 6px 0;padding: 0;background:#FFFFFF;width:120px;height:160px;position: relative;border:1px dotted #E3E3E3}
.editrelated .relatedlistitem li{text-align:center;}
.editrelated .relatedlistitem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;width:120px;height:120px}
.editrelated .relatedlistitem li.noimage{font-size:80px;line-height:120px;text-align:center;}
.editrelated .relatedlistitem li.title{line-height:150%;font-weight:bold;padding:3px 0;font-size: 12px;height:40px;overflow:hidden}
.editrelated .relatedlistitem .removeitem{top:0;right:0;position:absolute;cursor: pointer;}
.editrelated .relatedlistitem .removeitem .fa{color: #C44343;}
.editrelated .relatedlistitem .removeitem .fa:hover{color: #F42D2D;}

.selectrelated{}
.selectrelated .productlist{list-style: none outside none;margin:15px 0 0;padding: 0;}
.selectrelated .productlist > li{float:left}
.selectrelated .selectlistitem{list-style: none outside none;margin: 0 6px 6px 0;padding: 0;background:#FFFFFF;width:120px;height:160px;position: relative;border:1px dotted #E3E3E3}
.selectrelated .selectlistitem li{text-align:center;}
.selectrelated .selectlistitem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;width:120px;height:120px}
.selectrelated .selectlistitem li.noimage{font-size:80px;line-height:120px;text-align:center;}
.selectrelated .selectlistitem li.title{line-height:150%;font-weight:bold;padding:3px 0;font-size: 12px;height:40px;overflow:hidden}
.selectrelated .selectlistitem .selectproduct{top:0;right:0;position:absolute;cursor: pointer;}
.selectrelated .selectlistitem .selectproduct .fa{color: #DDDDDD;}
.selectrelated .selectlistitem .selectproduct .fa:hover{color: #51A3C4;}+
#productlist .NBrightPagingDiv{}

/* Category and Properties Editors */
.categorylist .fa{color:#DDDDDD;font-size:200%}
.categorylist .fa-minus-square:hover{color:#D33030}
.categorylist .fa-edit:hover{color:#47BE27}
.categorylist .fa-sort:hover{color:#549ACC}
.categorylist .fa-times-circle{color:#D33030}
.categorylist .fa-arrow-circle-left{color:#47BE27}

/* Category Editor Productlist items */
.productlist{list-style: none outside none;margin: 0;padding: 0;}
.productlist > li{float:left}
.productlist .productlistitem{list-style: none outside none;margin: 0;padding: 0;background:#FFFFFF;width:120px;height:160px;margin-bottom:6px;position: relative;}
.productlist .productlistitem li{text-align:center;}
.productlist .productlistitem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;width:120px;height:120px}
.productlist .productlistitem li.noimage{font-size:80px;line-height:120px;text-align:center;}
.productlist .productlistitem li.title{line-height:150%;font-weight:bold;padding:3px 0;font-size: 12px;height:40px;overflow:hidden}
.productlist .productlistitem .removeitem{top:0;right:0;position:absolute;}
.productlist .productlistitem .removeproduct{color:#D33030;cursor:pointer;}

/* Category Editor Productlist adding items This section not working with masonry */
.productlist{list-style: none outside none;margin: 0;padding: 0;}
.productlist > li{float:left}
.productlist .selectlistitem{list-style: none outside none;margin: 0;padding: 0;background:#FFFFFF;width:120px;height:160px;margin-bottom:6px;position: relative;}
.productlist .selectlistitem li{text-align:center;}
.productlist .selectlistitem li.image{display:table-cell;text-align:center;vertical-align:middle;width:inherit;width:120px;height:120px}
.productlist .selectlistitem li.noimage{font-size:80px;line-height:120px;text-align:center;}
.productlist .selectlistitem li.title{line-height:150%;font-weight:bold;padding:3px 0;font-size: 12px;height:40px;overflow:hidden}
.productlist .selectlistitem .additem{top:0;right:0;position:absolute;}
.productlist .selectlistitem .selectproduct{cursor:pointer;}

/* Plugins */
.plugins .fa {color:#DDDDDD;font-size:200%;}
.plugins .fa-edit:hover{color:#47BE27}
.plugins .fa-arrow-circle-up:hover{color:#47BE27}
.plugins .fa-arrow-circle-down:hover{color:#47BE27}


/* Property Groups Editor */
.propertygroupslist .fa{color:#DDDDDD;font-size:200%}
.propertygroupslist .fa-minus-square:hover{color:#D33030}
.propertygroupslist .fa-sort:hover{color:#549ACC}
.propertygroupslist .fa-times-circle{color:#D33030}
.propertygroupslist .fa-arrow-circle-left{color:#47BE27}

/* Store settings */
.countryselection .dnnBoxLabel{font-weight:normal}
