/*#Body {background:#FFF}Temporary white for DNN skin */
.dnnEditState .DnnModule{opacity:1 !important;transition:none !important;}/* Fix DNN */

/* Global links Fix */
.nbs a {text-decoration:none !important;}

/* Common */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
.nbs{}

/* Debug mode message */
.debug{clear:both;background:#AB0000;color:#FFFFFF;font-weight:bold;padding:2px;text-align:center;}

/* Default buttons */
/**********MODIFIED**********.nbs .primarybutton,.nbs .secondarybutton,.nbs .warningbutton{display:inline-block;font-weight:bold;line-height:35px;padding:0 10px;margin:10px 10px 10px 0;max-width:120px;text-align:center;width:45%;border:medium none;text-decoration:none;box-sizing:border-box;cursor:pointer;}*/
.nbs .primarybutton,.nbs .secondarybutton,.nbs .warningbutton{font-family:sans-serif;display:inline-block;font-weight:bold;font-size:13px;line-height:35px;padding:0 10px;margin:10px 10px 10px 0;min-width:120px;text-align:center;border:medium none;text-decoration:none;box-sizing:border-box;cursor:pointer;}
.nbs .primarybutton:hover,.nbs .secondarybutton:hover,.nbs .warningbutton:hover{text-decoration:none;}
.nbs .primarybutton{background:#42403f;color:#FFFFFF;}
.nbs .primarybutton:hover{background:#757370;color:#FFFFFF;}
.nbs .secondarybutton{background:#C2C2C2;color:#FFFFFF;}
.nbs .secondarybutton:hover{background:#777777;color:#FFFFFF;}
.nbs .warningbutton{background:#c62222;color:#FFFFFF;}
.nbs .warningbutton:hover{background:#DD2222;color:#FFFFFF;}

/**********REMOVED*********** Alert overlays */

/* Checkout and Customer panel style */
.panel {background:#ffffff;border-radius:5px;box-shadow:1px 1px 6px rgba(159, 159, 159, 0.56);padding:22px 30px 26px;}

/* General Form Styles */
.formrow:after, .radiobuttonlist:after {content:"";display:table;clear:both;}
.formrow label {display:block;font-size:12px;font-weight:normal;text-transform:uppercase;line-height:normal;margin:0 0 5px;}
.formrow input[type=text], .formrow input[type=email], .formrow select, .formrow textarea {border:1px solid #dddddd;box-sizing:border-box;height:30px;padding:0 7px;width:100%;margin:0 0 15px;}
.formrow select {padding-right:0;}
.formrow input[type=radio] {float:left;margin:0 0 0 10px;}
.radiobuttonlist label {float:left;margin:-2px 0 0 6px;text-transform:none;}
.formrow input[type=checkbox] {float:left;margin:0 0 0 10px;}
.submissioncheck {margin:0 0 9px !important;}
.submissioncheck label {float:left;margin:-2px 0 0 6px;text-transform:none;font-style:italic;}
/* === HTML5 Validation Styles === */
.nbs input:required {background:#fff url("/DesktopModules/NBright/Themes/config/img/asterisk.png") no-repeat 98% center;outline:none !important;}
.nbs input:focus:invalid {background:#fff url("/DesktopModules/NBright/Themes/config/img/invalid.png") no-repeat 98% center;}

/* Misc */
.large{font-size:115%}
.larger{font-size:150%}
.nowrap{white-space:nowrap;}
.text-right{text-align:right !important;}
/* Gallagher clearfix */
.clearfix:before, .clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.noborders, .noborders th, .noborders td{border:none !important;}
/* Custom strike for sale pricing */
.strikethrough{position:relative;white-space:nowrap;}
.strikethrough:after{border-top:2px solid #D00000;position:absolute;content:"";right:-3px;top:45%;left:-3px;opacity:0.5}
input[type=radio].invalid{box-shadow:0 0 4px #ff0000;}

/* Loading image - Includes opacity for IE5-8 */
#loader{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);}
#loader{background:#848D92;color: #000000;height: 100%;left: 0;opacity: 0.3;transition:all 0.4s ease-in-out 0s;position: fixed;text-align: center;top: 0;width: 100%;z-index: 9999;}
#loader .fa{margin-top:300px;color: #ffffff;}

/**********************************************************/
/* MEDIA QUERIES */
/**********************************************************/

/* Responsive layout - Any screen at less than 768px - Most tablets */
@media only screen 
and (min-width : 481px) 
and (max-width : 768px) {
.panel{padding:30px 60px;}
}

/* Responsive layout - Any screen at less than 480px - Most phones */
@media only screen 
and (min-width : 0px) 
and (max-width : 480px) {
.panel{padding:15px;margin-bottom:15px;}
}

/**********NOT USED***********/
/* Responsive layout - iPhones in portrait and landscape view
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
}*/
/* Responsive layout - iPads in portrait and landscape view
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
} */